<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <p class="a-word">My</p>
                    <p class="b-word">First<span class="c-word">Assignment</span></p>                    
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My First Assignment</h1>
    </header>
</div>


<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Complete Beginner</h2>
            </div>
        </div>
    </div>
    
    
    <div class="row spacer-top-3x">        
        <div class="col-md-6">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
                <blockquote>
                    <p class="comment">
                        I hadn’t a clue what was expected of me, and when I saw the first year list of assignments, it really felt like being dropped in at the deep end! I needed help to make a plan.
                    </p>
                </blockquote>                   
            </div>
        </div>
            
        <div class="col-md-6 spacer-xs-top-2x spacer-sm-top-3x spacer-md-top-0">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row spacer-top-halfx">
                        <p class="hl-secondary">
                           You are at the start of your journey developing the skills involved in  writing an assignment.
                        </p>
                        <p class="hl-secondary">
                           Perhaps you believe your writing skills are enough to “get you through college”.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <hr>
                            <h2>Not to worry</h2>
                            <hr>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                               The first stage of learning any new skill is to recognise what you do not know.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                               Learning some basic skills for writing assignments is like learning to speak in a new  “academic” language.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="Back to What Stage Are You At" href="#what-stage-are-you-at">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label=""title="My First Assignment" href="#/complete-beginner/my-first-assignment/">Next</a> 
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
</div>