<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <span class="a-word">My</span>
                    <span class="b-word">computer</span> 
                    <span class="c-word">skills</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My computer skills</h1>
    </header>
</div>


<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Check My Computer Skills</h2>
            </div>
        </div>
    </div>
    
    
    <div class="row spacer-top-3x ">
        <div class="col-xs-12 col-md-offset-2 col-md-9">
            <div class="quote-light-image-left">
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
                <blockquote>
                    <p class="comment">
                        Take this <span class="highlight-word">quiz</span> to identify any <span class="highlight-word">computer 
                            skill</span> areas that you might need to improve on.  You will be directed to some help if needed 
                            when you have finished and you can also print out the quiz if you like so that you have a record 
                            of your <span class="highlight-word">computer skills</span>.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="student stories" href="#student-stories">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Start Quiz" href="#check-your-computer-skills/basic-computer-skills">Start Quiz</a>
        </div>
    </div>
    <div class="row spacer-top spacer-bottom-4x"> 
        <div class="col-xs-12 col-md-4">
            <a href="#/" class="btn btn-nav btn-lg" title="go to home button">Home</a>
            <a href="#resources" class="btn btn-nav btn-lg pull-right" title="go to resources button">Resources</a>
        </div>
    </div>    
    
</div>