<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <span class="a-word">My</span>
                    <span class="b-word">computer</span> 
                    <span class="c-word">skills</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My computer skills</h1>
    </header>
</div>


<div id="contentFirst" class="container shadow">
    <div class="row spacer-top-3x spacer-bottom-2x">
        <div class="row spacer-xs-bottom-4x">
            <div class="col-md-offset-2 col-md-8 spacer-xs-top-2x spacer-xs-bottom-4x">
                <div class="q-head custom-head">
                    <h2 class="text-center">Do I need Further Help?</h2>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-offset-1 col-md-10 spacer-md-top-3x">
                <div class="quote-primary-image row">
                    <div class="col-xs-offset-6 col-xs-3 col-md-2 nopadding">
                        <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
                    </div>
                    <div class="col-xs-12 col-md-10 nopadding">
                        <blockquote class="full-width">
                            <p class="comment q-white">Okay it appears you might need some <span class="highlight-word">further assistance</span>. It might be a good idea to do a computer course to help you develop your computer skills. A friend or family member may be able to help you access some of the following supports.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row spacer-bottom-4x">
        <div class="col-xs-12 col-md-10 col-md-offset-1 panel panel-info panel-body-spacer">
            <ul class="custom-list-second list-unstyled">
                <li><a href="http://www.etbi.ie/" title="Contact Your local Education and Training Board for a list of computer courses available" target="_blank"><i class="fa fa-angle-right"></i> Local Education and Training Board.</a> A list of computer courses available.</li>
                <li><a href="http://www.citizensinformation.ie/en/" title="Contact your local citizens information service to see if there are courses being run locally" target="_blank"><i class="fa fa-angle-right"></i> Local citizens information service.</a> To see if there are courses being run locally.</li>
                <li><a href="https://support.office.com/en-us/article/Office-training-and-tutorials-b8f02f81-ec85-4493-a39b-4c48e6bc4bfb" title="For Microsoft Help" target="_blank"><i class="fa fa-angle-right"></i> Microsoft Help</a> MS Office or Windows help.</li>
                <li><a href="https://www.apple.com/support/macbasics/" title="For Apple Mac Computer Help have a look here for some basic guidance on using your equipment" target="_blank"><i class="fa fa-angle-right"></i> Apple Mac Computer Help.</a> Have a look here for some basic guidance on using your equipment.</li>
                <li><a href="http://www.ics-skills.ie/" title="Consider  getting The ECDL (European Computer Driving Licence)" target="_blank"><i class="fa fa-angle-right"></i> European Computer Driving Licence.</a> Or 01-2377723 for further information.</li>
               <li><a href="https://alison.com/learn/computer-basics" title="ALISON- free online courses including computer skills" target="_blank"><i class="fa fa-angle-right"></i> ALISON</a> Free online courses including computer skills.</li>
            </ul>
        </div>
    </div>
    
    <div class="row spacer-xs-bottom-4x">                
        <div class="col-md-12">
            <div class="col-xs-12 col-md-4 reset-width spacer-bottom-4x">
                <a href="#/" class="col-xs-5 col-md-5 btn btn-secondary btn-lg btn-custom" title="go to home button">Home</a>
                <a href="#resources" class="col-xs-5 col-md-5 btn btn-secondary btn-lg btn-custom pull-right" title="go to resources button">Resources</a>
            </div>
        </div>
    </div>    
</div>