<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <span class="a-word">My</span>
                    <span class="b-word">computer</span> 
                    <span class="c-word">skills</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My computer skills</h1>
    </header>
</div>

<div class="container shadow">
    <div class="row spacer-top-3x spacer-bottom-3x">
        <div class="col-md-6 spacer-top-3x">
            <div class="panel panel-info">
                <div class="panel-body spacer-top">
                    <p>
                     <span class="first-word">This</span> tool is designed to give you a sense of the computer skills you will need for studying in Higher Education. You’ll find out about the kinds of technologies you’ll encounter and the key <strong>computer skills</strong> you’ll need.
                    </p>
                    <p class="spacer-top">
                       We know that computer skills can be daunting for some so you’ll also hear from fellow students on how they use <strong>computer skills</strong> for learning! Click <strong>START</strong> to get started!              
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 spacer-top-3x">
            <div class="row">
                <div class="quote-dark-image-top-right">
                        <blockquote class="quote-primary quote-primary-home">                                     
                            <p class="comment">“I found computer skills essential for learning as  most of my course material is online. When I began I had some knowledge of computer skills but I learned much more as I went along”</p>
                        </blockquote>
                        <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
                </div>
            </div>
            <div class="row spacer-xs-top-3x spacer-md-top-2x ">
                <div class="col-md-offset-2 col-md-8">
                    <a href="#what-are-computer-skills" class="btn btn-default btn-xlg btn-block spacer-bottom" title="start">
                        Start
                    </a>
                </div>
            </div>
        </div>
 
        
    </div>
</div>