
<div class="container shadow">
    <div class="row spacer-top-3x spacer-bottom-3x">
        <div class="col-md-6 spacer-top-3x">
            <div class="panel panel-info">
                <div class="panel-body spacer-top">
                    <p>
                        <span class="first-word">You</span> can use this tool to give you a sense of the <strong>computer skills</strong> you will need for studying in Higher Education.
                    </p>
                    <p class="spacer-top">
                       You may already have many of the <strong>skills</strong> you will need... click <strong>START</strong> to get started!              
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 spacer-top-3x">
            <div class="row">
                <div class="quote-dark image-top-right">
                        <blockquote>                                     
                            <p class="comment">I found computer skills essential for learning as  most of my course material is online. When I began I had some knowledge of computer skills but I learned much more as I went along.</p>
                        </blockquote>
                        <img class="img-responsive img-rounded" alt="Student photo" src="../assets/images/student1.jpg">
                </div>
            </div>
            <div class="row spacer-xs-top-3x spacer-md-top-2x ">
                <div class="col-md-offset-2 col-md-8">
                    <a href="#what-are-computer-skills" class="btn btn-default btn-xlg btn-block spacer-bottom" title="start">
                        Start
                    </a>
                </div>
            </div>
        </div>
 
        
    </div>
</div>