<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <span class="a-word">My</span>
                    <span class="b-word">computer</span> 
                    <span class="c-word">skills</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My computer skills</h1>
    </header>
</div>


<div class="container shadow">
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">How can this tool help me?</h2>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">   
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="quote-dark-image-bottom-left">
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
                <blockquote>
                    <p class="comment">I admit, using computers was daunting at first, but I found that I had some skills already because I use a mobile phone and use the internet.</p>
                </blockquote>                   
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <h2 class="spacer-top col-md-10">Select the student you identify most with by clicking on their story.</h2>
            <div class="col-md-4 block-arrow point-down hidden-sm hidden-xs"></div>
        </div>            
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-offset-1 col-md-9">
            <a href="#why-do-I-need-computer-skills" title="">
                <div class="quote-light-image-right row">
                        <blockquote >                                   
                            <p class="comment">I rarely use a computer and I am not sure if I have the computer skills that I will need for college. What do I need to know?</p>
                        </blockquote>
                        <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student2.jpg">
                </div>
            </a>
        </div>
    </div>

    <div class="row spacer-top-3x">
         <div class="col-xs-12 col-md-offset-1 col-md-9">
            <a href="#why-do-I-need-computer-skills" title="">
                <div class="quote-light-image-right row">
                    <blockquote>                                   
                        <p class="comment">I know how to use a computer but not sure how I would use it for learning.</p>
                    </blockquote>
                    <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student2.jpg">
                </div>   
            </a>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-offset-1 col-md-9">
            <a href="#college-supports-available-to-you" title="">
                <div class="quote-light-image-right row">  
                    <blockquote>                                   
                        <p class="comment">I use computers everyday for work and I am confident that I have the necessary computer skills for learning, however I would like some information on college computer supports.</p>
                    </blockquote>
                    <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student2.jpg">
                </div>
            </a>
        </div>
    </div>

    <div class="row spacer-top-3x spacer-xs-bottom-4x">
        <div class="col-md-12">
            <div class="col-xs-12 col-md-4 spacer-xs-top-3x spacer-bottom-4x">
                <a href="#/" class="btn btn-secondary btn-lg " title="go to home button">Home</a>
                <a href="#resources" class="btn btn-secondary btn-lg pull-right" title="go to resources button">Resources</a>
            </div>
        </div>
    </div>    
</div>
