<div class="container shadow">

    <div class="row row spacer-top-3x">   
        <div class="col-md-12">
            <ul class="section-nav">
                <li ng-repeat="section in areasViewedT8" ng-class="currentSection.toLowerCase().indexOf(section.val) >= 0 ? 'active' : ''" ng-style="{'width':sectionWidthT8}">
                    <span ng-click="jumpToUrlT8('/elements-of-an-online-orientation/' + section.val + '/')" class='title' ng-style="{'color':section.colourActive}">{{section.title}}</span>
                    <span class='connector-line'>&nbsp;</span>
                    <span ng-click="jumpToUrlT8('/elements-of-an-online-orientation/' + section.val + '/')" class='connector' ng-style="{'background':section.colourActive}">&nbsp;</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div ng-repeat="section in areasViewedT8" ng-class="currentSection.toLowerCase().indexOf(section.val) >= 0 ? '' : 'hidden'" class="q-head large" ng-style="{'background':section.colourActive}">
                <h2 ng-if="currentSection.toLowerCase().indexOf(section.val) >= 0" class="text-center nopadding">{{section.title}}</h2>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">

                        </div>
                        <div class="col-xs-11">
                            <h2 class="spacer-top">
                                Why focus on reducing anxiety?
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                High Anxiety = Early Exit
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                High Anxiety = More start of year queries
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Early experiences set the tone
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Unresolved ‘Entry-Shock’ causes ongoing conflict
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">

                        </div>
                        <div class="col-xs-11">
                            <h2 class="spacer-top">
                                Possible Approaches
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Provide accurate but reassuring messages
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Demonstrate that anxieties are typical in new students
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Bridge the gap between unrealistic expectations and reality
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Focus attention on how success can and is achieved by students
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-offset-1 col-md-10 ">
            <div class="row hub-nav">
                <div class="hub-button-bg"></div>

                <div class="pos-12">
                    <a href="#/elements-of-an-online-orientation/reduce-anxiety/video1/" title="video button" ng-class="{'viewed':areasViewedT8.reduceanxiety}" ng-click="areasViewedT8.reduceanxiety = true">
                        <div class="hub-button button-others" >
                            <p>Video</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
                <div class="pos-4">
                    <a href="#/elements-of-an-online-orientation/reduce-anxiety/text1/" title="text button" ng-class="{'viewed':areasViewedT8.reduceanxiety}" ng-click="areasViewedT8.reduceanxiety = true">
                        <div class="hub-button button-friends">
                            <p>Text</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
                <div class="pos-8">
                    <a href="#/elements-of-an-online-orientation/reduce-anxiety/activity1/" title="activity button" ng-class="{'viewed':areasViewedT8.reduceanxiety}" ng-click="areasViewedT8.reduceanxiety = true">
                        <div class="hub-button button-family">
                            <p>Activity</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
            <a href="#/" class="btn btn-info btn-lg btn-block" title="Back to home" aria-label="">Back to home</a>
        </div>
        <div ng-repeat="section in areasViewedT8" ng-class="currentSection.toLowerCase().indexOf(section.val) >= 0 ? '' : 'hidden'" class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a ng-click="jumpToUrlT8('/elements-of-an-online-orientation/' + section.val + '/video1/')" class="btn btn-default btn-lg btn-block" title="Next" aria-label="Next">Next</a>	
        </div>
    </div> 
</div>