<div class="container shadow">

    <div class="row row spacer-top-3x">   
        <div class="col-md-12">
            <ul class="section-nav">
                <li ng-repeat="section in areasViewedT8" ng-class="currentSection.toLowerCase().indexOf(section.val) >= 0 ? 'active' : ''" ng-style="{'width':sectionWidthT8}">
                    <span ng-click="jumpToUrlT8('/elements-of-an-online-orientation/' + section.val + '/')" class='title' ng-style="{'color':section.colourActive}">{{section.title}}</span>
                    <span class='connector-line'>&nbsp;</span>
                    <span ng-click="jumpToUrlT8('/elements-of-an-online-orientation/' + section.val + '/')" class='connector' ng-style="{'background':section.colourActive}">&nbsp;</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div ng-repeat="section in areasViewedT8" ng-class="currentSection.toLowerCase().indexOf(section.val) >= 0 ? '' : 'hidden'" class="q-head large" ng-style="{'background':section.colourActive}">
                <h2 ng-if="currentSection.toLowerCase().indexOf(section.val) >= 0" class="text-center nopadding">{{section.title}}</h2>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">

                        </div>
                        <div class="col-xs-11">
                            <h2 class="spacer-top">
                                Why focus on expectation setting?
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Mismatched expectations = Early Exit
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Unrealistic expectations = Early Exit
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Mismatched expectations = More start of year queries
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Unresolved mismatched expectations cause ongoing conflict
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">

                        </div>
                        <div class="col-xs-11">
                            <h2 class="spacer-top">
                                Possible Approaches
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Provide explicit, accurate messages relating to
                            <ul>
                                <li>What students can expect from the institution and/or programme</li>
                                <li>What the institution and/or programme expects of students</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Facilitate students in recognising what their (perhaps unconscious) expectations are
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Bridge the gap between unrealistic expectations and reality
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Present a set of positive expectations that new students should have about their studies
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
            <a href="#/" class="btn btn-info btn-lg btn-block" title="Back to home" aria-label="">Back to home</a>
        </div>
        <div ng-repeat="section in areasViewedT8" ng-class="currentSection.toLowerCase().indexOf(section.val) >= 0 ? '' : 'hidden'" class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a ng-click="jumpToUrlT8('/elements-of-an-online-orientation/' + section.val + '/video1/')" class="btn btn-default btn-lg btn-block" title="Next" aria-label="Next">Next</a>	
        </div>
    </div> 
</div>