

<div class="container shadow">
    <div class="row spacer-top-3x">
        <div class="col-md-12">
            <h1 class="text-center large">Take the quiz…</h1>
        </div>
    </div>
    <div class="row spacer-top-3x spacer-bottom-4x">
        <div class="col-md-6">
        <carousel interval="5000" no-wrap="noWrapSlides">
            <slide active="active">
                <div class="quote-slide">
                    <i class="fa fa-users fa-4x"></i>
                    <p>I have the support of my family and friends for me to study</p>
                </div>
            </slide>
            <slide>
                <div class="quote-slide">
                    <i class="fa fa-book fa-4x"></i>
                    <p>I enjoy reading newspapers, emails and long academic texts</p>
                </div>
            </slide>
            <slide>
                <div class="quote-slide">
                    <i class="fa fa-calendar fa-4x"></i>
                    <p>I plan my life and activities well in advance</p>
                </div>
                
            </slide>
            <slide>
                <div class="quote-slide">
                    <i class="fa fa-check-circle fa-4x"></i>
                    <p>I’m able to get things done on my own even if I find them difficult</p>
                </div>
            </slide>
          </carousel>
        </div>

        <div class="col-xs-12 col-md-6 spacer-xs-top-3x spacer-md-top-0">
            <div class="row">
                <div class="col-md-12">
                    <p class="large"><span class="first-word">This</span> tool helps you to self-assess how ready you are for further study and 
                        offers personal advice based on your responses. It won’t take much of your time as 
                        there are only five sets of questions which are easy to complete, so try it! 
                        The results are a GUIDE only and entirely confidential to you. 
                    </p>
                </div>
            </div>
            <div class="row spacer-top">
                <div class="col-md-offset-2 col-md-8">
                    <a href="#questionnaire/study-experience" ng-click="resetQuestionaire()" class="btn btn-default btn-lg btn-block" title="start the quiz button">
                        Start
                    </a>
                </div>
             </div>
        </div>
    </div>
    <div class="row spacer-bottom-4x"></div>
</div>