<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading am-i-ready hidden-xs">
                    <span class="word">Am I</span>
                    <span class="word">Ready</span> 
                    <span class="word">for Study</span>
                    <span class="word">?</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >Am I Ready for Study?</h1>
    </header>
</div>

<div class="container shadow">
    <div class="row spacer-top-3x">
        <div class="col-md-12">
            <h1 class="text-center large">Take the quiz…</h1>
        </div>
    </div>
    <div class="row spacer-top-3x spacer-bottom-4x">
        <div class="hidden-xs hidden-sm col-md-6">
            <div class="anim-quotes">
                    <i class="fa fa-user fa-4x"></i>
                    <div class="anim-block a-first"><p class="anim-txt">I have the support of my family and friends for me to study</p></div>																				
                    <div class="anim-block a-second"><p class="anim-txt">I enjoy reading newspapers, emails and long academic texts</p></div>
                    <div class="anim-block a-three"><p class="anim-txt">I plan my life and activities well in advance</p></div>
                    <div class="anim-block a-four"><p class="anim-txt">I’m able to get things done on my own even if I find them difficult</p></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 spacer-bottom-4x">
            <div class="row">
                <div class="col-md-12">
                    <p class="large"><span class="first-word">This</span> tool helps you to self-assess how ready you are for further study and 
                        offers personal advice based on your responses. It won’t take much of your time as 
                        there are only five sets of questions which are easy to complete, so try it! 
                        The results are a GUIDE only and entirely confidential to you. 
                    </p>
                </div>
            </div>
            <div class="row spacer-top">
                <div class="col-md-offset-2 col-md-8">
                    <a href="#questionnaire/study-experience" ng-click="resetQuestionaire()" class="btn btn-default btn-lg btn-block" title="start the quiz button">
                        Start
                    </a>
                </div>
             </div>
        </div>
    </div>
</div>