
<div class="container shadow">
    <div class="row spacer-top-3x">
        <div class="col-md-12">
            <ul class="section-nav feedback">
                <li ng-repeat="section in questionnaire track by $index" ng-class="{'active':$index == currentSectionIndex}" ng-style="{'width':sectionWidth}">
                    <span class='title' ng-click="jumpTo($index)">{{section.label}}</span>
                    <span class='connector-line'>&nbsp;</span>
                    <span class='connector'ng-click="jumpTo($index)">&nbsp;</span>
                </li>
                <li class="final" ng-style="{'width':sectionWidth}">
                    <span class='title'>Overall Readiness</span>
                    <span class='connector-final'>&nbsp;
                        <i class='fa fa-check-circle-o'></i>
                    </span>                    
                </li>
            </ul>
        </div>
    </div>
	
    <div class="row spacer-top-2x">			
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head active">
                <span class="icon-badge active ">
                    <i class="fa fa-graduation-cap fa-3x fa-fw"></i>
                </span>
                <h2 class="nopadding text-center">Your Feedback for "{{q.label}}"</h2>
            </div>
        </div>
    </div>
	
    <div class="row spacer-top-4x">
        <div class="col-md-12">
            <div ng-repeat="question in q.questions track by $index">
                <div class="panel" ng-class-odd="'panel-odd'" ng-class-even="'panel-even'">
                    <div class="panel-body">					
                        <div class="row">
                            <div class="hidden-xs col-sm-1">
                                    <div class="q-index">{{startingQuestionIndex + $index}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-11 question">
                                    <div class="q-index visible-xs-inline">
                                        {{startingQuestionIndex + $index}}
                                    </div>
                                    {{question.response}}        
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
   <div class="row spacer-top-4x">
       <div class="col-md-12">
           <div class="row">
                <div class="spacer-xs-top col-xs-12 spacer-md-top-0 col-md-6 s-quote" ng-repeat="quote in q.quotes track by $index">
                    <div class="row">
                        <div class="col-xs-4 s-image">
                            <img ng-src="{{quote.studentImage}}" class="img-responsive img-rounded" alt="DCU student photo">
                        </div>
                        <div class="col-xs-8">
                            <blockquote class="simple">
                                <p class="comment">{{quote.studentQuote}}</p>
                                <footer class="text-right">Student from <cite title="Source Title">DCU</cite></footer>
                            </blockquote>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    
        <!-- <div class="spacer-xs-top spacer-md-top-0 col-md-2">
            <h4 class="text-center nopadding">Resources</h4>
            <p class="spacer-top text-justify">
                There are links to suitable resources to help you "Get Ready to Study" at the end of the overall questionnaire.
            </p>
        </div> -->
    </div>
    
    <hr />
        
    <div class="row spacer-top-4x spacer-bottom-4x">
        <div class="col-md-offset-4 col-md-4">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="openNext()"  aria-label="next button">Next</button>
        </div>
    </div>

</div>