<div class="modal-header">
    <div class="row nopadding">
        <div class="col-xs-1">
                <i class="fa {{iconCls}} fa-2x"></i>
        </div>
        <div class="col-xs-10">
            <label for="name" class="control-label header">Modal Header<label>
        </div>
    </div>
    <i ng-click="cancel()" class="fa fa-times fa-1x btn-close"></i>		
</div>

<div class="modal-body">
    <div class="row spacer-top-2x spacer-bottom">
        <div class="col-xs-12">
            Main content for the modal
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row modal-buttons spacer-bottom">
        <div class="hidden-xs col-sm-8">
            <a href="#" ng-click="cancel()" class="btn btn-link">Cancel</a>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
            <button type="button" ng-click="ok()" class="btn btn-default btn-md btn-block">OK</button>
        </div>
    </div>
</div>