<div class="modal-header">
    <div class="row nopadding">
        <div class="col-xs-1">
                <i class="fa {{iconCls}} fa-2x"></i>
        </div>
        <div class="col-xs-10">
            <label for="name" class="text-center control-label header">This guide will...</label>
        </div>
    </div>
    <i ng-click="cancel()" class="fa fa-times fa-1x btn-close"></i>		
</div>

<div class="modal-body">
    <div class="row spacer-top-2x spacer-bottom">
        <div class="col-xs-12">
             This guide will aid you in creating an online orientation that will compliment your existing welcome day as it walks. you through the why, what, where, when and who of an online orientation. You will be able to build up a plan for your online orientation as you go through the tool, exploring the different orientation elements and looking at examples of what can be included. You will have to identify what tools you can use to build up an online orientation, and to make decisions about what content you want in your orientation.
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row modal-buttons spacer-bottom">
        <div class="hidden-xs col-sm-8">  
            <a ng-click="cancel()" class="btn btn-link">Cancel</a>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
            <a ng-click="ok()" class="btn btn-default btn-md btn-block" href="#/before-we-start-response-some-orientation/" title="Some Orientation">Continue</a>
        </div>
    </div>
</div>