<div class="modal-header">
    <div class="row nopadding">
        <div class="col-xs-1">
                <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="col-xs-10">
            <label for="name" class="control-label header">Arvil – My First  Written Assignmnet<label>
        </div>
    </div>
    <i ng-click="cancel()" class="fa fa-times fa-1x btn-close"></i>		
</div>

<div class="modal-body">
    <div class="row spacer-top-2x spacer-bottom">
        <div class="col-xs-12">
            My  first assignment was daunting, I had to write a  1000 word essay in MS Word and send it in online to the virtual learning environment. To do this I needed to be able to type in Word and format the text correctly, save and make backups of my work as I went along. When finished I had to upload my file to the VLE which is like attaching a file to an email.  I checked the college website for tutorials on how to do this and found there were a couple available which really helped.  My top tips for you would be to leave plenty of time if you are unused to typing and backup everything either by saving to a memory stick or emailing the work to yourself.  Also check if there is a computer centre (link) on hand to assist you with any difficulties you may run into while computing.

        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row modal-buttons spacer-bottom">
        <div class="hidden-xs col-sm-8">   
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
            <button type="button" ng-click="ok()" class="btn btn-default btn-md btn-block">OK</button>
        </div>
    </div>
</div>