
<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-12" static-include="app/views/partials/menu.html">
        </div> 
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Plan</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" src="../assets/images/tutor-img.jpg" alt="student photo">
                <blockquote>
                    <p class="comment">
                        A good, well-organised plan is key. You should explore the steps involved in planning. 
                        The information here relates to a typical essay style assignment. You will have to adapt 
                        these steps for other types of assignments
                    </p>
                    <footer>Eamon (Tutor)</footer>
                </blockquote>
            </div>
        </div>
    </div>
    
 
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="center-content">
            <ul class="hoz-step-listing">
                <li>
                    
                    <span class="step">1</span>
                    <span>
                        <a href=""  popover-append-to-body="true" popover-trigger="{{isTouchDevice?'click':'mouseenter'}}" popover="Map out a realistic timeline for completing different stages of your assignment">
                            Give yourself a timeframe
                        </a>
                    </span>
                </li>
                <li>
                    <span class="step">2</span>
                    <span>
                        <a href=""  popover-append-to-body="true" popover-trigger="{{isTouchDevice?'click':'mouseenter'}}" popover="Task words – Verbs or questionsKeywords – Main TopicsLimiting words- Defines area to focus on">
                            Break down assignment question into searchable terms
                        </a>
                    </span>
                </li>
                <li>
                    <span class="step">3</span>
                    <span>
                        <a href=""  popover-append-to-body="true" popover-trigger="{{isTouchDevice?'click':'mouseenter'}}" popover="Construct an argument that can be discussed and expanded further">
                            Have a clear argument or statement
                        </a>
                    </span>
                </li>
                <li>
                    <span class="step">4</span>
                    <span>
                        <a href=""  popover-append-to-body="true" popover-trigger="{{isTouchDevice?'click':'mouseenter'}}" popover="Each point should be developed in a paragraphMost assignments can follow the basic Introduction/body/conclusion structureAim for 3 or 4 paragraphs for 1500 word assignment">
                            List main points within your argument
                        </a>
                    </span>
                </li> 
                <li>
                    <span class="step">5</span>
                    <span>
                        <a href=""  popover-append-to-body="true" popover-trigger="{{isTouchDevice?'click':'mouseenter'}}" popover="Start thinking about where to look Initial reading around subject">
                            Thinking about places to search first
                        </a>
                    </span>
                </li>
            </ul>
            </div>
        </div>
    </div>     


     <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" href="#/developing-a-plan/starting-an-assignment/" title="Starting an Assignment">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Find Assignment Resources" href="#/developing-a-plan/find-resources/">Next</a> 
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div> 
   
</div>
