
<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-12" static-include="app/views/partials/menu.html">
        </div> 
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Plan</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" src="../assets/images/tutor-img.jpg" alt="student photo">
                <blockquote>
                    <p class="comment">
                        A good, well-organised plan is key. You should explore the steps involved in planning. 
                        The information here relates to a typical essay style assignment. You will have to adapt 
                        these steps for other types of assignments
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    
 
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10 software-block">           
            <div class="spacer-md-top spacer-lg-top col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-9 col-lg-offset-0 col-lg-9 navigation-table-software">

            </div>
            <div class="col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3 col-lg-offset-0 col-lg-3 hidden-xs hidden-sm">
                <div class="img-software-side"></div>
            </div>
        </div>
    </div>     


     <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" href="#/developing-a-plan/starting-an-assignment/" title="Starting an Assignment">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Find Assignment Resources" href="#/developing-a-plan/find-resources/">Next</a> 
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div> 
   
</div>
