


<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-12" static-include="app/views/partials/menu.html">
        </div> 
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large section-1">
                <h2 class="text-center nopadding">Find</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" src="../assets/images/tutor-img.jpg" alt="student photo">
                <blockquote>
                    <p class="comment">
                        Be cautious about the information you find. Think about these elements of 
                        any documents. The knack of finding good information is understanding what 
                        type of information you are searching for and where this type of information 
                        is usually found. Remember that talking to a librarian, especially one who 
                        specialises in the subject area, is always a good idea when trying to find 
                        information. 
                    </p>
                    <footer>Eamon (Tutor)</footer>
                </blockquote>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-5">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/w9rSkYw0CKA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row spacer-top">
                <p>Please replace video with relevant content</p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-info">
                <div class="panel-body"> 
                    <div class="row">
                        <h3>Types of Academic resources</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                               <span class="hl-primary medium">Books:</span> Good for background theory
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                               <span class="hl-primary medium">Websites / Social media:</span> Good for current material
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                <span class="hl-primary medium">Articles:</span> Good scholarly research
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                              <span class="hl-primary medium">Newspapers:</span> Good for topical news
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                <span class="hl-primary medium">Government Documents:</span> Good for official policy, statistics etc. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10 software-block">           
            <div class="spacer-md-top spacer-lg-top col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-9 col-lg-offset-0 col-lg-9 navigation-table-software">

            </div>
            <div class="col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3 col-lg-offset-0 col-lg-3 hidden-xs hidden-sm">
                <div class="img-software-side"></div>
            </div>
        </div>
    </div>     


     <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="Assignment Plan" href="#/developing-a-plan/assignment-plan/">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Evaluate Assignment" href="#/developing-a-plan/evaluate/">Next</a>
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
</div>
