

<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-12" static-include="app/views/partials/menu.html">
        </div> 
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large section-3">
                <h2 class="text-center nopadding">Use</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" src="../assets/images/tutor-img.jpg" alt="student photo">
                <blockquote>
                    <p class="comment">
                         In producing assignments you will draw on a range of sources – course units, 
                         textbooks, the Internet, journal articles, newspapers, databases – to develop
                         and inform your ideas. These ideas belong to those that wrote them 
                         (or spoke them, recorded them etc.). Therefore, when you draw on those ideas 
                         in your work you have to clearly show where they came from. You do this by 
                         including what are called references in your work. Properly referencing,
                         showing where you have used the work of others, lies at the heart of all
                         high quality academic work. 
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    
 
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10 software-block">           
            <div class="spacer-md-top spacer-lg-top col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-9 col-lg-offset-0 col-lg-9 navigation-table-software">

            </div>
            <div class="col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3 col-lg-offset-0 col-lg-3 hidden-xs hidden-sm">
                <div class="img-software-side"></div>
            </div>
        </div>
    </div>     

    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="Evaluate Assignment" href="#/developing-a-plan/evaluate/">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Use Library" href="#/beginer-library/">Next</a>
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
    
</div>
