<div class="container shadow">

    <div class="row row spacer-top-3x">   
        <div class="col-md-12">
            <tool8-nav></tool8-nav>
        </div>
    </div>
        
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large tangerine" >
                <h2 class="text-center nopadding">Positive Role Model - Text 1</h2>
            </div>
        </div>
    </div>

    <ng-include src="'app/views/partials/widgets/positiveRoleModelSectionNav.html'"></ng-include>
    
    <div class="row spacer-top">
         <div class="col-xs-12">
            <h2 class="text-center nopadding">From Programme Team perspective</h2>
         </div>
     </div>
    
     <div class="row spacer-top">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 col-md-1 text-center nopadding">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-11">
                            <div class="row spacer-top">
                                <div class="col-md-6">
                                    <p >
                                        What will facilitate you in getting from 
                                        this moment in time to a moment in the 
                                        future where you have successfully 
                                        completed your studies? The answer is a 
                                        number of things, but remember that <strong>we are 
                                        not telling you to do these things</strong>. All we can 
                                        do is offer you this advice and tell you that, from our experience and from the 
                                        best available evidence, doing these things will facilitate your educational success.
                                        <strong>These are things that successful learners are doing</strong>, on the programme that you are beginning. 
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img src="../assets/images/tool8/graduates.jpg" title="Graduating Students" class="img-responsive img-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row spacer-top">
                        <div class="col-xs-1 col-md-1 text-center nopadding">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                        Firstly, you have to organise, you have to manage your time.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

     <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="Back to Positive Role Model Video 2" href="#elements-of-an-online-orientation/positive-role-model/video2/">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Positive Role Model Text 2" href="#/elements-of-an-online-orientation/positive-role-model/text2/">Next</a> 
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
</div>