<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading your-feedback hidden-xs">
                    <span class="word">Your</span> 
                    <span class="word">feedback</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >Your feedback</h1>
    </header>
</div>

<div class="container shadow">
    <div class="row spacer-top-3x">
        <div class="col-md-12 text-center">
            <h1 class="nopadding">Detailed feedback…</h1>
        </div>
    </div>
    <div class="row spacer-top-3x">
        <div class="col-md-12">
            <div class="activity-panel">
                <i class="fa fa-graduation-cap fa-5x circle pull-left"></i>
                <p class="" ng-bind-html="interpretFeedback.narratorFeedback"></p>
            </div>
        </div>
    </div>
    <div class="row spacer-top-3x">
        <div class="col-md-12 text-center">
            <h1 class="nopadding">Student comments…</h1>
        </div>
    </div>
    
   <div class="row student-comments spacer-top-3x">
        <div class="col-md-12 left">
            <div class="col-md-7">
                    <blockquote class="blockquote-student">
                       <i class="fa fa-quote-left"></i><p>{{interpretFeedback.studentQuote1}}</p>
                            <footer>Student from <cite title="Source Title">DCU</cite></footer>
                    </blockquote>
            </div>
            <div class="col-md-5">
                    <img ng-src="{{interpretFeedback.studentImage2}}" class="img-responsive pull-right">
            </div>
        </div>
        <div class="col-md-12 right">
                <div class="col-md-5">
                        <img ng-src="{{interpretFeedback.studentImage1}}" class="img-responsive pull-left">
                </div>
                <div class="col-md-7">				
                        <blockquote class="blockquote-student right">
                           <i class="fa fa-quote-left"></i><p>{{interpretFeedback.studentQuote2}}</p>
                                <footer>Student from <cite title="Source Title">DCU</cite></footer>
                        </blockquote>
                </div>
        </div>
    </div>
    <div class="row modal-buttons spacer-top-3x spacer-bottom-3x">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
            <a href="#rate" type="button" ng-click="ok()" class="btn btn-default btn-lg btn-block">RATE</a>
        </div>
    </div>

</div>