<div  class="container shadow">
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">College supports available to you</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">   
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
                <blockquote>
                    <p class="comment">
                        You seem to be fairly comfortable using a computer so at this point it would be a 
                        good idea to familiarize yourself with the supports provided by the college in the 
                        links below. You can also click on the <span class="highlight-word">Resources button</span> for 
                        a range of additional supports that you might find useful. If you would like to take the 
                        'Basic Computer Skills Test' please 
                        <a title="Start Quiz" href="#check-your-computer-skills">
                            <span class="highlight-word">click here</span>
                        </a>.
                    </p>
                </blockquote>                   
            </div>
        </div>
    </div>
    
        
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-xs-12 col-md-5">
            <ul class="info-list">
                <li><a href="" title="">Email</a></li>
                <li><a href="" title="">Internet /Wireless</a></li>
                <li><a href="" title="">Your College Account</a></li>
                <li><a href="" title="">Current Student Website</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-5">
            <ul class="info-list">
                <li><a href="" title="">Library Website</a></li>
                <li><a href="" title="">Computer Centre</a></li>
                <li><a href="" title="">Learning Support Office</a></li>
                <li><a href="" title="">Virtual Learning Environment</a></li>
            </ul>
        </div>
    </div>
    

    
    <div class="row spacer-xs-bottom-4x">                
        <div class="col-md-12">
            <div class="col-md-offset-4 col-md-4 reset-width spacer-sm-top-4x spacer-md-top-4x spacer-lg-top-4x spacer-xs-bottom-4x spacer-lg-bottom pull-lg-right">
                <a class="btn btn-default btn-lg btn-block" aria-label="" title="Rate this tool" href="#rate">RATE</a>
            </div>
            <div class="col-xs-12 col-md-4 reset-width spacer-bottom-4x spacer-lg-top-4x">
                <a href="#/" class="col-xs-5 col-md-5 btn btn-secondary btn-lg btn-custom" title="go to home button">Home</a>
                <a href="#resources" class="col-xs-5 col-md-5 btn btn-secondary btn-lg btn-custom pull-right" title="go to resources button">Resources</a>
            </div>
        </div> 
    </div>    
</div>