<div class="container shadow">

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Which options match with how you will build your online orientation?</h2>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                 Your Tools
                            </th>
                            <th></th>
                            <th>
                                Y/N
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">Location</th>
                            <td>Will you build your online orientation in your institutional Virtual Learning Environment (VLE), e.g. Moodle or Blackboard?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Will you build your online orientation within your institutional website?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Technology</th>
                            <td>Do you have access to equipment and software that you can use to produce video content for your online orientation?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Do you have access to equipment and software that you can use to produce audio content for your online orientation?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Do you have access to e-learning platform software, e.g. Articulate, that you can use to produce content for your online orientation?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Do you have access to presentation tools, e.g. Powerpoint or Prezi, that you can use to produce content for your online orientation?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Existing Resources</th>
                            <td>Can you locate open educational resources that you can use in your online orientation?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Are there existing institutional resources that you can use in you online orientation?</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
            <a href="#/" class="btn btn-info btn-lg btn-block" title="Back to home" aria-label="">Back to home</a>
        </div>
        <div class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a href="#elements-of-an-online-orientation" class="btn btn-default btn-lg btn-block" title="How can my family help" aria-label="">Next</a>
        </div>
    </div>
</div>