<div class="container shadow">

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Elements of an Online Orientation</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-xs-12  col-md-8">
            <div class="row round-nav2">
                <div class="round-nav-button-bg"><div class="inner-white"></div></div>

                <div class="pos pos-12">
                    <a href="#/elements-of-an-online-orientation/reduce-anxiety" title="Reduce Anxiety button" ng-class="{'viewed':areasViewedT8.reduceanxiety.viewed}" ng-click="areasViewedT8.reduceanxiety.viewed = true">
                       <div class="round-nav-button green">
                           <p>Reduce Anxiety</p>    
                       </div>
                    </a>
                </div>


                <div class="pos pos-2">
                    <a href="#/elements-of-an-online-orientation/set-expectations" title="set expectations button" ng-class="{'viewed':areasViewedT8.setexpectations.viewed}" ng-click="areasViewedT8.setexpectations.viewed = true">
                        <div class="round-nav-button red">
                            <p>Set Expectations</p>
                        </div>
                    </a>
                </div>

                <div class="pos pos-4">
                    <a href="#/elements-of-an-online-orientation/positive-role-model" title="positive role model button" ng-class="{'viewed':areasViewedT8.positiverolemodel.viewed}" ng-click="areasViewedT8.positiverolemodel.viewed = true">
                        <div class="round-nav-button tangerine">
                            <p>Positive Role Model</p>
                        </div>
                    </a>
                </div>

                <div class="pos pos-6">
                    <a href="#/elements-of-an-online-orientation/socialising" title="socialising button"ng-class="{'viewed':areasViewedT8.socialising.viewed}" ng-click="areasViewedT8.socialising.viewed = true" >
                        <div class="round-nav-button orange">
                            <p>Socialising</p>
                        </div>
                    </a>

                </div>

                <div class="pos pos-8">
                     <a href="#/elements-of-an-online-orientation/campus-tour" title="Campus Tour button" ng-class="{'viewed':areasViewedT8.campustour.viewed}" ng-click="areasViewedT8.campustour.viewed = true">
                        <div class="round-nav-button dark-blue">
                            <p>Campus Tour</p>
                        </div>
                    </a>
                </div>


                <div class="pos pos-10">
                    <a href="#/elements-of-an-online-orientation/study-skills" title="Study Skills button" ng-class="{'viewed':areasViewedT8.studyskills.viewed}" ng-click="areasViewedT8.studyskills.viewed = true">
                        <div class="round-nav-button blue">
                            <p>Study Skills</p>
                        </div>
                    </a>
                </div>

                <div class="pos pos-center">
                    <div class="round-nav-button transparent nohover">
                        <p>Elements of an Online Orientation</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info spacer-top-3x">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-info fa-5x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p>
                Each of the elements of online orientation shown below provide suggested approaches you can use in your own orientation.
                Click on a circle and work through each element. This will aid you in building a list of suggested content appropriate to your situation.
                Once you have worked through each of the elements, a final printable summary will be available by pressing the summary button below.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
            <a href="#/before-we-start-response-some-orientation/" class="btn btn-info btn-lg btn-block" title="Back to an Effective Orientation" aria-label="">Back</a>
        </div>

        <div class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a href="#elements-of-an-online-orientation/online-orientation-summary/" class="btn btn-default btn-lg btn-block" title="Online Orientation Summary" aria-label="">My Summary</a>	
        </div>

    </div> 
</div>