<div class="container shadow">
    <div class="row spacer-top-3x spacer-bottom-3x">
        <div class="col-md-6 spacer-top-3x">
            <div class="panel panel-info">
                <div class="panel-body spacer-top">
                    <p>
                        <span class="first-word">This</span> tool is designed to 
                        <ul>
                            <li>Provide programme teams/institutions with the building blocks of a good online orientation</li>
                            <li>Demonstrate how institutional messages and message ‘in the world of the learner’ can be balanced in these building blocks</li>
                            <li>Facilitate the active building of a plan for an online orientation for flexible learners</li>
                        </ul> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 spacer-top-3x">
            <div class="row">
                <div class="quote-dark image-top-right">
                    VIDEO HERE! [Signposting.wmv]?
                </div>
            </div>
            <div class="row spacer-xs-top-3x spacer-md-top-2x ">
                <div class="col-md-offset-2 col-md-8">
                    <a href="#before-we-start" class="btn btn-default btn-xlg btn-block spacer-bottom" title="start" ng-click="resetAreasViewedT8()">
                        Start
                    </a>
                </div>
            </div>
        </div>
 
        
    </div>
</div>