<div class="container shadow">

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Purpose and Outline of this Tool</h2>
            </div>
            <div class="row spacer-bottom-2x"></div>
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"  src="https://player.vimeo.com/video/160228115"></iframe>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">                
        <div class="col-md-4">
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a href="#before-we-start" class="btn btn-default btn-xlg btn-block spacer-bottom" title="start" ng-click="resetQuestionnaireT8()">
                Start
            </a>
        </div>
    </div> 

    <div class="row spacer-bottom-4x"></div>

</div>