<div id="contentFirst" class="container shadow">
    <div class="row spacer-top-3x spacer-bottom-3x">

        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 spacer-xs-top-2x spacer-xs-bottom-4x">
                <div class="panel panel-tip"> 
                    <div class="panel-header row">
                        <div class="col-xs-12 col-sm-11 col-md-12 nopadding">
                            <h3 class="text-center">More Resources</h3>
                        </div> 
                    </div>
                    <div class="col-sm-12 col-lg-12 panel-body panel-body-spacer">
                        <ul class="custom-list list-unstyled">
                            <li><a href="" title=""><i class="fa fa-angle-right"></i> Resource link here</a> Resource description here.</li>
                            <li><a href="" title=""><i class="fa fa-angle-right"></i> Resource link here</a> Resource description here.</li>
                            <li><a href="" title=""><i class="fa fa-angle-right"></i> Resource link here</a> Resource description here.</li>
                            <li><a href="" title=""><i class="fa fa-angle-right"></i> Resource link here</a> Resource description here.</li>
                            <li><a href="" title=""><i class="fa fa-angle-right"></i> Resource link here</a> Resource description here.</li>
                            <li><a href="" title=""><i class="fa fa-angle-right"></i> Resource link here</a> Resource description here.</li>
                            <li><a href="" title=""><i class="fa fa-angle-right"></i> Resource link here</a> Resource description here.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                

    </div>
    
    <div class="row spacer-xs-bottom-4x">                
        <div class="col-md-12">
            <div class="col-md-offset-4 col-md-4 reset-width spacer-xs-top-3x spacer-lg-top-0 spacer-md-top-0 spacer-xs-bottom-4x spacer-lg-bottom pull-lg-right">
                <a class="btn btn-default btn-lg btn-block" aria-label="" title="Rate this tool" href="#rate">RATE</a>
            </div>
            <div class="col-xs-12 col-md-4 reset-width spacer-bottom-4x">
                <a href="#/" class="col-xs-5 col-md-5 btn btn-secondary btn-lg btn-custom" title="go to home button">Home</a>
            </div>



        </div>
    </div>    
</div>