<div class="container shadow">

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Review Your Online Orientation Plan</h2>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-4 col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                 Your Tools
                            </th>
                            <th>
                                <div class="col-xs-4 green-text"><span class="circle-color green inline">Yes</span></div>
                                <div class="col-xs-4 red-text"><span class="circle-color red inline">No</span></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr ng-repeat="question in q_your_online_orientation.questions track by $index">
                            <th scope="row">{{question.questionSmall}}</th>
                            <td>
                                <div class="radio-circle-group">
                                    <div class="pull-left" ng-repeat="opt in question.options">
                                        <label for="question-{{$parent.$index}}-{{opt.value}}" class="radio-circle-bg" ng-class="{yes:'green', no:'red'}[opt.value]">
                                            <input name="questionGroup{{$parent.$index}}" id="question-{{$parent.$index}}-{{opt.value}}" type="radio" class="faq-radio" ng-click="answer(question, opt)" ng-model="question.selected" ng-value="opt">
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-8 col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                 Anxiety
                            </th>
                            <th>
                                <div class="col-xs-4 green-text"><span class="circle-color green inline">Yes</span></div>
                                <div class="col-xs-4 red-text"><span class="circle-color red inline">No</span></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>                        
                        <tr ng-repeat="question in q_online_orientation_anxiety.questions track by $index">
                            <th scope="row">{{question.question}}</th>
                            <td>
                                <div class="radio-circle-group">
                                    <div class="pull-left" ng-repeat="opt in question.options">
                                        <label for="question1-{{$parent.$index}}-{{opt.value}}" class="radio-circle-bg" ng-class="{yes:'green', no:'red'}[opt.value]">
                                            <input name="questionGroup1{{$parent.$index}}" id="question1-{{$parent.$index}}-{{opt.value}}" type="radio" class="faq-radio" ng-click="answer(question, opt)" ng-model="question.selected" ng-value="opt">
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                 Set Expectations
                            </th>
                            <th>
                                <div class="col-xs-4 green-text"><span class="circle-color green inline">Yes</span></div>
                                <div class="col-xs-4 red-text"><span class="circle-color red inline">No</span></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>                        
                        <tr ng-repeat="question in q_online_orientation_set_expectations.questions track by $index">
                            <th scope="row">{{question.question}}</th>
                            <td>
                                <div class="radio-circle-group">
                                    <div class="pull-left" ng-repeat="opt in question.options">
                                        <label for="question2-{{$parent.$index}}-{{opt.value}}" class="radio-circle-bg" ng-class="{yes:'green', no:'red'}[opt.value]">
                                            <input name="questionGroup2{{$parent.$index}}" id="question2-{{$parent.$index}}-{{opt.value}}" type="radio" class="faq-radio" ng-click="answer(question, opt)" ng-model="question.selected" ng-value="opt">
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                Positive Role Model
                            </th>
                            <th>
                                <div class="col-xs-4 green-text"><span class="circle-color green inline">Yes</span></div>
                                <div class="col-xs-4 red-text"><span class="circle-color red inline">No</span></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>                        
                        <tr ng-repeat="question in q_online_orientation_positiverolemodel.questions track by $index">
                            <th scope="row">{{question.question}}</th>
                            <td>
                                <div class="radio-circle-group">
                                    <div class="pull-left" ng-repeat="opt in question.options">
                                        <label for="question3-{{$parent.$index}}-{{opt.value}}" class="radio-circle-bg" ng-class="{yes:'green', no:'red'}[opt.value]">
                                            <input name="questionGroup3{{$parent.$index}}" id="question3-{{$parent.$index}}-{{opt.value}}" type="radio" class="faq-radio" ng-click="answer(question, opt)" ng-model="question.selected" ng-value="opt">
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                 Socialising
                            </th>
                            <th>
                                <div class="col-xs-4 green-text"><span class="circle-color green inline">Yes</span></div>
                                <div class="col-xs-4 red-text"><span class="circle-color red inline">No</span></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>                        
                        <tr ng-repeat="question in q_online_orientation_socialising.questions track by $index">
                            <th scope="row">{{question.question}}</th>
                            <td>
                                <div class="radio-circle-group">
                                    <div class="pull-left" ng-repeat="opt in question.options">
                                        <label for="question4-{{$parent.$index}}-{{opt.value}}" class="radio-circle-bg" ng-class="{yes:'green', no:'red'}[opt.value]">
                                            <input name="questionGroup4{{$parent.$index}}" id="question4-{{$parent.$index}}-{{opt.value}}" type="radio" class="faq-radio" ng-click="answer(question, opt)" ng-model="question.selected" ng-value="opt">
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                 Campus Tour
                            </th>
                            <th>
                                <div class="col-xs-4 green-text"><span class="circle-color green inline">Yes</span></div>
                                <div class="col-xs-4 red-text"><span class="circle-color red inline">No</span></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>                        
                        <tr ng-repeat="question in q_online_orientation_campustour.questions track by $index">
                            <th scope="row" ng-if=" question.options.length > 1">
                                {{question.question}}
                            </th>
                            <td ng-if=" question.options.length > 1">
                                <div class="radio-circle-group">
                                    <div class="pull-left" ng-repeat="opt in question.options" >
                                        <label for="question5-{{$parent.$index}}-{{opt.value}}" class="radio-circle-bg" ng-class="{yes:'green', no:'red'}[opt.value]">
                                            <input name="questionGroup5{{$parent.$index}}" id="question5-{{$parent.$index}}-{{opt.value}}" type="radio" class="faq-radio" ng-click="answer(question, opt)" ng-model="question.selected" ng-value="opt">
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <th colspan="2" scope="row" ng-if=" question.options.length < 1">
                                {{question.question}}
                                <div class="pull-right" >
                                    <label for="question5-{{$parent.$index}}">
                                        <input name="questionGroup5{{$parent.$index}}" id="question5-{{$parent.$index}}" type="text" ng-blur="answerOther(question)" ng-model="question.selected">
                                    </label>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                        <tr>
                            <th>
                                 Study Skills
                            </th>
                            <th>
                                <div class="col-xs-4 green-text"><span class="circle-color green inline">Yes</span></div>
                                <div class="col-xs-4 red-text"><span class="circle-color red inline">No</span></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>                        
                        <tr ng-repeat="question in q_online_orientation_studyskills.questions track by $index">
                            <th scope="row">{{question.question}}</th>
                            <td>
                                <div class="radio-circle-group">
                                    <div class="pull-left" ng-repeat="opt in question.options">
                                        <label for="question6-{{$parent.$index}}-{{opt.value}}" class="radio-circle-bg" ng-class="{yes:'green', no:'red'}[opt.value]">
                                            <input name="questionGroup6{{$parent.$index}}" id="question6-{{$parent.$index}}-{{opt.value}}" type="radio" class="faq-radio" ng-click="answer(question, opt)" ng-model="question.selected" ng-value="opt">
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row spacer-top-3x spacer-bottom-3x">
        <div class="col-md-4 ">
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="print()" aria-label="download results button">Download</button>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a href="#rate" class="btn btn-default btn-lg btn-block" title="rate our tool">Rate</a>	
        </div>
    </div>

    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
            <a href="#/" class="btn btn-info btn-lg btn-block" title="Back to home" aria-label="">Back to home</a>
        </div>
        <div class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <!-- <a href="#different-options" class="btn btn-default btn-lg btn-block" title="How can my family help" aria-label="">Next</a>	-->
        </div>
    </div> 

</div>