<div class="container shadow">

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Review Your Online Orientation Plan</h2>
            </div>
        </div>
    </div>

    Show this tools questionnaire data and allow it to be printed and / or converted into a pdf!

    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
            <a href="#/" class="btn btn-info btn-lg btn-block" title="Back to home" aria-label="">Back to home</a>
        </div>
        <div class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <!-- <a href="#different-options" class="btn btn-default btn-lg btn-block" title="How can my family help" aria-label="">Next</a>	-->
        </div>
    </div> 
</div>