<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">What technology do colleges provide?</h2>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="block-arrow hidden-sm hidden-xs"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"> 
            <accordion close-others="true" >
                <accordion-group heading="Username and password" is-open="true" template-url="app/views/partials/accordion/accordion-group.html">
                  This content is straight in the template.
                </accordion-group>
                <accordion-group heading="Email address"  template-url="app/views/partials/accordion/accordion-group.html">
                  Your email address is directly linked to your student number and provides direct contact between you and the college.
                </accordion-group>
                <accordion-group heading="Virtual learning environment"  template-url="app/views/partials/accordion/accordion-group.html">
                 This is the term used to describe the online area where students access their course information and interact with their tutor if needed.  
                </accordion-group>
               <accordion-group heading="Computer Labs"  template-url="app/views/partials/accordion/accordion-group.html">
                   Computer labs are areas on campus where you can use PCs or laptops to work on your college assignments. 
               </accordion-group>
               <accordion-group heading="Supports for learning difficulties"  template-url="app/views/partials/accordion/accordion-group.html">
                   If you have a learning difficulty you can contact the learning supports centre (link) to find out what is available to you.   
               </accordion-group>
            </accordion>  
        </div>
        
        <div class="col-md-6">
            <div class="quote-dark image-right">
                <blockquote>                                     
                    <p class="comment">When I began my course I was given a username and password and an email address.  I was also
                            introduced to the Virtual Learning Environment or VLE as it’s known and I was directed to the computer labs.  
                            I was also told about there were supports available for students with learning difficulties. Click on the images for 
                            a brief explanation of each one.</p>
                </blockquote>
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="Back to what technology you will need to use" href="#technology-you-will-need">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="student stories" href="#student-stories">Next</a>
        </div>
    </div>
    <div class="row spacer-top spacer-bottom-4x"> 
        <div class="col-xs-12 col-md-4">
            <a href="#/" class="btn btn-nav btn-lg" title="go to home button">Home</a>
            <a href="#resources" class="btn btn-nav btn-lg pull-right" title="go to resources button">Resources</a>
        </div>
    </div>    
</div>