
<div class="container shadow">
     
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">My First Assignment</h2>
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-5 text-center spacer-md-top-3x">
            <h2>Now follow the story of another student with
                <span class="hl-secondary">some experience</span> 
                as they prepare to complete their first assignment.
            </h2>

            
        </div>
            
        <div class="col-md-offset-1 col-md-4 spacer-xs-top-2x spacer-md-top-0">
            <img class="img-responsive img-rounded center-block" alt="student photo" src="../assets/images/hands-with-documents.jpg">
        </div>            
    </div>

    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" href="#/some-experience/some-experience/" title="Some Experience">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Where To Start" href="#/some-experience/where-to-start/">Next</a>   
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
   
</div>