<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <p class="a-word">My</p>
                    <p class="b-word">First<span class="c-word">Assignment</span></p>                    
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My First Assignment</h1>
    </header>
</div>


<div id="contentFirst" class="container shadow">
    <div class="row spacer-top-3x spacer-bottom-2x spacer-md-bottom-4x">
        <div class="row spacer-xs-bottom-4x">
            <div class="col-md-offset-2 col-md-8 spacer-xs-top-0 spacer-md-bottom-4x spacer-lg-bottom-4x spacer-xs-bottom-4x">
                <div class="q-head custom-head">
                    <h2 class="text-center">Some Experience</h2>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-offset-0 col-md-6 spacer-xs-top-2x spacer-sm-top-3x">
                <div class="quote-primary-image row">
                    <div class="col-xs-offset-6 col-xs-3 col-md-4 nopadding">
                        <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
                    </div>
                    <div class="col-xs-12 col-md-8 nopadding">
                        <blockquote class="full-width">
                            <p class="comment q-white">
                                When I got my assignment I knew, based on my past experience, that I needed to find the most useful  information, the right material to read and use, to complete my assignment.
                            </p>
                        </blockquote>                   
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-offset-0 col-md-6 spacer-xs-top-2x spacer-sm-top-3x">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 panel-heading-custom">
                                <h4>
                                    You have previously covered some ground on your journey to develop the skills involved in  writing an assignment.
                                    <div class="spacer-top-halfx"></div>
                                    You have produced academic assignments before at Higher Education level and know what is involved.
                                    <div class="spacer-top-halfx"></div> 
                                    But it never hurts to review the steps involved in producing high quality assignments.                                                               
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row spacer-xs-bottom-4x spacer-lg-top-4x spacer-sm-top-4x spacer-sm-bottom-4x spacer-md-bottom-4x spacer-lg-bottom-4x">                
        <div class="col-md-12">
            <div class="col-md-4 reset-width spacer-xs-top-3x spacer-sm-top-3x">
                <a class="btn btn-info btn-lg btn-block" aria-label="" title="Back to What Stage Are You At" href="#what-stage-are-you-at">Back</a>
            </div>
            <div class="col-md-offset-4 col-md-4 reset-width spacer-xs-top-3x spacer-xs-bottom-4x spacer-sm-top-2x spacer-sm-bottom-3x spacer-lg-bottom">
                <a class="btn btn-default btn-lg btn-block" aria-label="" title="My First Assignment" href="#/some-experience/my-first-assignment/">Next</a> 
            </div>
        </div>
    </div>    
</div>