<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <p class="a-word">My</p>
                    <p class="b-word">First<span class="c-word">Assignment</span></p>                    
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My First Assignment</h1>
    </header>
</div>


<div id="contentFirst" class="container shadow">
    
    <div class="row row spacer-top-3x">
        <div class="col-md-12">
            <ul class="section-nav simple-progress-b">
                <li class="ng-scope active start-active col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
                    <span class="title ng-binding" role="button" tabindex="0">Start</span>
                    <span class="connector-line"> </span>
                    <span class="connector" role="button" tabindex="0"> </span>
                </li>
                <li class="ng-scope col-md-2 col-xs-2">
                    <span class="title ng-binding" role="button" tabindex="0">Plan</span>
                    <span class="connector-line"> </span>
                    <span class="connector" role="button" tabindex="0"> </span>
                </li>
                <li class="ng-scope col-md-2 col-xs-2">
                    <span class="title ng-binding" role="button" tabindex="0">Find</span>
                    <span class="connector-line"> </span>
                    <span class="connector" role="button" tabindex="0"> </span>
                </li>
                <li class="ng-scope col-md-2 col-xs-2">
                    <span class="title ng-binding" role="button" tabindex="0">Evaluate</span>
                    <span class="connector-line"> </span>
                    <span class="connector" role="button" tabindex="0"> </span>
                </li>

                <li class="final col-md-2 col-xs-2">
                    <span class="title">Use</span>
                    <span class="connector-final">
                        <i class="fa fa-check-circle-o"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="row spacer-top-3x">

        <div class="row">
            <div class="col-md-offset-2 col-md-8 spacer-xs-top-0 spacer-md-bottom-4x spacer-lg-bottom-4x spacer-xs-bottom-4x">
                <div class="q-head custom-head section-start-active">
                    <h2 class="text-center">Start</h2>
                </div>
            </div>  
        </div>
        
        <div class="row spacer-xs-bottom-4x spacer-sm-top-4x spacer-sm-bottom-4x spacer-md-bottom-4x spacer-lg-bottom-4x"> 
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="quote-primary-image row">
                    <div class="col-xs-offset-6 col-xs-3 col-md-2 nopadding">
                        <img class="img-responsive img-rounded" src="../assets/images/tutor-img.jpg" alt="tutor photo">
                    </div>
                    <div class="col-xs-12 col-md-10 nopadding">
                        <blockquote class="full-width">
                            <p class="comment q-white">
                                As you already know, there are a number of sensible ways to make a start on figuring out what you need to include in your assignment, or how you should approach the assignment
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1 software-block">           
                <div class="spacer-md-top spacer-lg-top col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-9 col-lg-offset-0 col-lg-9 navigation-table-software">

                    <accordion close-others="true">
                        <accordion-group is-open="false" heading="Ask Tutor" template-url="app/views/partials/accordion/accordion-group.html">

                            <div class="row spacer-xs-bottom-2x">
                                <div class="col-xs-12 col-md-offset-0 col-md-12 spacer-top">
                                   <div class="quote-primary-image row">
                                       <div class="col-xs-offset-6 col-xs-3 col-md-2 nopadding">
                                           <img class="img-responsive img-rounded" alt="student photo" src="../assets/images/student2.jpg">
                                       </div>
                                       <div class="col-xs-12 col-md-10 nopadding">
                                           <blockquote class="full-width">
                                                <p class="comment q-white">
                                                    <span class="first-word-1x5">Hi Lisa,</span><br>After reading the assignment instructions I have some questions. Would I be right in saying that…
                                                </p>
                                           </blockquote>                   
                                       </div>
                                   </div>
                               </div>

                                <div class="col-xs-12 col-md-offset-0 col-md-12 spacer-top-4x spacer-sm-top spacer-xs-top">
                                    <div class="quote-secondary-image row">
                                        <div class="col-xs-offset-6 col-xs-3 col-md-2 nopadding pull-right">
                                            <img class="pull-top-x1 img-responsive img-rounded" alt="tutor photo" src="../assets/images/tutor-img.jpg">
                                        </div>
                                        <div class="col-xs-12 col-md-10 nopadding">
                                            <blockquote class="nomargin-md padding-md-right-2x reset-left">                                   
                                                <p class="comment">
                                                    <span class="first-word-1x5">Hello,</span><br>
                                                    It is good that you are making sure you are clear about what the task is asking you to do. You are right in saying that…<br>
                                                    Also remember that you should also read back over your own notes along with the learning materials. Then you need to make your plan for the assignment.
                                                    <br><strong>Kind regards, Lisa.</strong>                                      
                                                </p>
                                            </blockquote>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-offset-0 col-md-12 spacer-md-top-3x spacer-lg-top-3x spacer-xs-top-2x spacer-sm-top-3x spacer-md-bottom-3x spacer-lg-bottom-3x spacer-xs-bottom-2x spacer-sm-bottom-3x">
                                    <div class="panel panel-info">
                                        <div class="panel-body">                   
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       If you are uncertain about your assignment ask your lecturer to clarify it
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Get involved in any informal communication (email lists, discussion forums, Twitter, Facebook etc.) that your class may be using
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Some lecturers are contactable by phone/email or through the VLE
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </accordion-group>

                        <accordion-group is-open="false" heading="Assignment Instructions" template-url="app/views/partials/accordion/accordion-group.html">
                            <div class="row spacer-top-3x spacer-bottom-2x spacer-md-bottom-4x">
                                <div class="col-xs-12 col-md-offset-0 col-md-12">
                                    <div class="panel panel-info">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Make sure you fully understand what you are being asked to do in the assignment.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                        Identify assignment main topic via the <a tooltip="Keywords are the terms you will use in any searching for information.">“keywords”</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Start to think about potential places to look for information
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-offset-0 col-md-5 spacer-xs-top-2x spacer-sm-top-3x hidden-md hidden-lg">
                                    <div class="quote-primary-image row">
                                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-12">
                                            <img class="img-responsive-full-w img-rounded reset-top" alt="document photo" src="../assets/images/hands-with-documents.jpg">
                                        </div>
                                    </div>
                                </div>                        
                            </div>                    
                        </accordion-group>                

                        <accordion-group is-open="false" heading="Course notes" template-url="app/views/partials/accordion/accordion-group.html">
                            <div class="row spacer-top-3x spacer-bottom-2x spacer-md-bottom-4x">
                                <div class="col-xs-12 col-md-offset-0 col-md-12">
                                    <div class="panel panel-info">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Look back over any class material that your tutor may have provided i.e. course notes (in either digital or hard copy format)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                        Consult any material puts up on the college VLE (Virtual Learning Environment)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Most importantly review the notes you have taken while reading course materials and/or in lectures/tutorials, in order to help you identify key areas to concentrate on in your assignment.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-offset-0 col-md-5 spacer-xs-top-2x spacer-sm-top-3x hidden-md hidden-lg">
                                    <div class="quote-primary-image row">
                                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-12">
                                            <img class="img-responsive-full-w img-rounded reset-top" alt="document photo" src="../assets/images/hands-with-documents.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                        </accordion-group>

                        <accordion-group is-open="false" heading="Other Students" template-url="app/views/partials/accordion/accordion-group.html">
                            <div class="row spacer-xs-bottom-2x">
                                <div class="col-xs-12 col-md-offset-0 col-md-12 spacer-top">
                                   <div class="quote-primary-image row">
                                       <div class="col-xs-offset-6 col-xs-3 col-md-2 nopadding">
                                           <img class="img-responsive img-rounded" alt="student photo" src="../assets/images/student1.jpg">
                                       </div>
                                       <div class="col-xs-12 col-md-10 nopadding">
                                           <blockquote class="full-width">
                                               <p class="comment q-white">
                                                   <span class="first-word-1x5">Hi Eamon, Jennifer & Ann,</span><br> How would Wednesday evening at 8pm be for a Skype call be? It would be great to see if we all have the same interpretation of what the assignment instructions are asking us to do.
                                               </p>
                                           </blockquote>                   
                                       </div>
                                   </div>
                               </div>

                                <div class="col-xs-12 col-md-offset-0 col-md-12 spacer-top-4x spacer-sm-top spacer-xs-top">
                                    <div class="quote-secondary-image row">
                                        <div class="col-xs-offset-6 col-xs-3 col-md-2 nopadding pull-right">
                                            <img class="pull-top-x1 img-responsive img-rounded" alt="student photo" src="../assets/images/student2.jpg">
                                        </div>
                                        <div class="col-xs-12 col-md-10 nopadding">
                                            <blockquote class="nomargin-md padding-md-right-2x reset-left">                                   
                                                <p class="comment">
                                                    <span class="first-word-1x5">Hey there,</span><br>
                                                        Wednesday at 8 suits me. I definitely have some things I want to ask your opinion about.
                                                    <br><strong>Eamon</strong>
                                                </p>
                                            </blockquote>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-offset-0 col-md-12 spacer-md-top-3x spacer-lg-top-3x spacer-xs-top-2x spacer-sm-top-3x spacer-md-bottom-3x spacer-lg-bottom-3x spacer-xs-bottom-2x spacer-sm-bottom-3x">
                                    <div class="panel panel-info">
                                        <div class="panel-body">                   
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Get involved in any informal communication (email lists, discussion forums, Twitter, Facebook etc.) that your class may be using
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 text-center nopadding">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="col-xs-11">
                                                    <p class="spacer-top-halfx">
                                                       Set up a study group with whom to have such discussions
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </accordion-group>

                    </accordion> 
                    
                    
                </div>
                <div class="col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3 col-lg-offset-0 col-lg-3 hidden-xs hidden-sm">
                    <div class="img-software-side"></div>
                </div>
            </div>

        </div>     
    
    </div>

    
    <div class="row spacer-xs-bottom-4x spacer-lg-top-4x spacer-sm-top-4x spacer-sm-bottom-4x spacer-md-bottom-4x spacer-md-top-4x spacer-lg-bottom-4x">                
        <div class="col-md-12">
            <div class="col-md-4 reset-width spacer-xs-top-3x spacer-sm-top-3x">
                <a class="btn btn-info btn-lg btn-block" aria-label="" title="Developing a Plan" href="#/developing-a-plan/">Back</a>
            </div>
            <div class="col-md-offset-4 col-md-4 reset-width spacer-xs-top-3x spacer-xs-bottom-4x spacer-sm-top-2x spacer-sm-bottom-3x spacer-lg-bottom">
                <a class="btn btn-default btn-lg btn-block" aria-label="" title="Assignment Plan" href="#/assignment-plan/">Next</a>
            </div>
        </div>
    </div>  
   
</div>
