
<div class="container shadow">
    <div class="row spacer-top-3x">   
        <div class="col-md-12">
            <tool3-nav></tool3-nav>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-12">
            <h1 class="text-center large">How Can They Help</h1>
        </div>
    </div>
    
    <div class="row spacer-top-3x spacer-bottom-3x">
        Others How can they help?
    </div>
    
    <div class="row spacer-top-3x spacer-bottom-3x">
        <div class="col-md-4 ">
             <a href="#hub/others" class="btn btn-info  btn-block" title="Back to other others Support" aria-label="">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a href="#hub" class="btn btn-default  btn-block" title="Back to home" aria-label="">Go to My Support Network</a>	
        </div>
    </div>
</div>