<span class="rz-bar-wrapper">
    <span class="rz-bar"></span>       
</span> 
<span class="rz-bar rz-selection"></span>
<span class="rz-pointer" tabindex="0" role="slider" aria-valuemin="{{rzSliderFloor}}" aria-valuemax="{{rzSliderCeil}}" aria-valuenow="{{rzSliderModel}}"></span>
<span class="rz-pointer" tabindex="0" role="slider" aria-valuemin="{{rzSliderFloor}}" aria-valuemax="{{rzSliderCeil}}" aria-valuenow="{{rzSliderModel}}"></span> 
<span class="rz-bubble rz-limit"></span> 
<span class="rz-bubble rz-limit"></span> 
<span class="rz-bubble" role="presentation"></span> 
<span class="rz-bubble" role="presentation"></span> 
<span class="rz-bubble" role="presentation"></span>