<div class="container shadow">

    <div class="row row spacer-top-3x">   
        <div class="col-md-12">
            <tool8-nav></tool8-nav>
        </div>
    </div>

    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large red" >
                <h2 class="text-center nopadding">Set Expectations - Text 2</h2>
            </div>
        </div>
    </div>
    
    <ng-include src="'app/views/partials/widgets/setExpectationsSectionNav.html'"></ng-include>
    
    <div class="row spacer-top">
        <div class="col-xs-12">
           <h2 class="text-center nopadding">From Graduates/Current Students</h2>
        </div>
    </div>

    <div class="row spacer-top-4x">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="quote-light image-right">  
                <blockquote>                                   
                    <p class="comment">You have to be realistic  from the outset and make out a proper plan. I think if at all possible to keep on top of things throughout the year and to take good summary notes as you go along so as you don’t have to reread the text towards exam times. Basically, keep your studies and course work evenly spaced rather than leaving things to the last minute, which is what I did!</p>
                    <footer>John (Student/Graduate)</footer>
                </blockquote>
                <img class="img-responsive img-rounded" alt="Student photo" src="../assets/images/student2.jpg">
            </div>
        </div>
    </div>

    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="Back to Set Expectations Text 1" href="#elements-of-an-online-orientation/set-expectations/text1/">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Set Expectations Open Educational Resources 1" href="#/elements-of-an-online-orientation/set-expectations/open-educational-resources1/">Next</a> 
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
</div>