<div class="modal-header">
    <div class="row nopadding">
        <div class="col-xs-1">
                <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="col-xs-10">
            <label for="name" class="control-label header">John – My College Account &amp; Email<label>
        </div>
    </div>
    <i ng-click="cancel()" class="fa fa-times fa-1x btn-close"></i>		
</div>

<div class="modal-body">
    <div class="row spacer-top-2x spacer-bottom">
        <div class="col-xs-12">
            When I started my course I got a username and password that allows me to log on to 
            the services provided by the college on and off campus.  I can log on to the library
            link to library of specific institution) and view my 
            library account.  I can also access the Virtual Learning Environment (VLE) 
            and can look up what reading material is required for the course.  
            I can send messages to fellow students and to tutors while logged on and I am 
            kept up to date with what’s happening.  The college also provided me with an 
            email address that is linked directly to my student number.  
            If I run into any difficulty with my username & password or 
            email address I contact the computer centre and they sort it out for me.  
            I will give you a tip…. Always remember to log off from your student 
            account and your email whenever you stop working on a computer, you must keep 
            your passwords safe and do not give them to anyone!

        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row modal-buttons spacer-bottom">
        <div class="hidden-xs col-sm-8">   
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
            <button type="button" ng-click="ok()" class="btn btn-default btn-md btn-block">OK</button>
        </div>
    </div>
</div>