<div class="modal-header">
    <div class="row nopadding">
        <div class="col-xs-1">
                <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="col-xs-10">
            <label for="name" class="control-label header">Derek PPT<label>
        </div>
    </div>
    <i ng-click="cancel()" class="fa fa-times fa-1x btn-close"></i>		
</div>

<div class="modal-body">
    <div class="row spacer-top-2x spacer-bottom">
        <div class="col-xs-12">
            One of my first assignments involved creating a 5 minute PowerPoint presentation.  
            I had never used PowerPoint and felt a bit nervous. However, I was able to get 
            help because I knew how to search the internet for video tutorials about how to 
            use Microsoft PowerPoint. I also checked the university website and found that 
            there were introductory PowerPoint sessions available to students which really 
            helped me. If I could give you one tip in relation to creating presentations it 
            would be to check what help is available at your college before you begin and 
            keep your presentation simple.   
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row modal-buttons spacer-bottom">
        <div class="hidden-xs col-sm-8">   
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
            <button type="button" ng-click="ok()" class="btn btn-default btn-md btn-block">OK</button>
        </div>
    </div>
</div>