


<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Developing a Plan</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" src="../assets/images/student1.jpg" alt="student photo">
                <blockquote>
                    <p class="comment">
                        My tutor gave me detailed rundown about how to develop my plan for 
                        finding the information for, and writing, my assignment.
                        <footer>Sarah (Student)</footer>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
        
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-6"> 
            <div class="row round-nav hidden-xs">
                <div class="round-nav-button-bg"></div>

                <div class="pos-12">
                    <a href="#/developing-a-plan/assignment-plan/" title="Assignment Plan" ng-class="{'viewed':areasViewed.plan}" ng-click="areasViewed.plan = true" tabindex="0">
                       <div class="round-nav-button plan">
                           <p>Plan</p>    
                       </div>
                    </a>
                </div>
                
                <div class="pos-2">
                    <div class="next-arrow">
                        <img src="../assets/images/arrow.png" alt=""/>
                    </div>
                </div>
                
                <div class="pos-3">
                    <a href="#/developing-a-plan/find-resources/" title="Find Assignment Resources" ng-class="{'viewed':areasViewed.find}" ng-click="areasViewed.find = true" tabindex="0">
                        <div class="round-nav-button find">
                            <p>Find</p>
                        </div>
                    </a>
                </div>
                
                <div class="pos-4">
                    <div class="next-arrow">
                        <img src="../assets/images/arrow.png" alt=""/>
                    </div>
                </div>
                
                <div class="pos-6">
                    <a href="#/developing-a-plan/evaluate/" title="Evaluate Assignment" ng-class="{'viewed':areasViewed.evaluate}" ng-click="areasViewed.evaluate = true" tabindex="0">
                        <div class="round-nav-button evaluate">
                            <p>Evaluate</p>
                        </div>
                    </a>

                </div>
                
                <div class="pos-8">
                    <div class="next-arrow">
                        <img src="../assets/images/arrow.png" alt=""/>
                    </div>
                </div>
                        

                <div class="pos-9">
                    <a href="#/developing-a-plan/use-assignment/" title="Use Assignment" ng-class="{'viewed':areasViewed.use}" ng-click="areasViewed.use = true" tabindex="0">
                        <div class="round-nav-button use">
                            <p>Use</p>               
                        </div>
                    </a>
                </div>
                
                <div class="pos-10">
                    <div class="next-arrow">
                        <img src="../assets/images/arrow.png" alt=""/>
                    </div>
                </div>
                
            </div>
            
            <div class="col-xs-12 navigation-table visible-xs nopadding">                
                <a href="#/developing-a-plan/assignment-plan/" title="Assignment Plan" class="navigation-cell plan" ng-class="{'viewed':areasViewed.plan}" ng-click="areasViewed.plan = true">
                    <span>Plan</span>
                </a>
                <a title="Find Assignment Resources" href="#/developing-a-plan/find-resources/" class="navigation-cell find" ng-class="{'viewed':areasViewed.find}" ng-click="areasViewed.find = true">
                    <span>Find</span>
                </a>
                <a title="Evaluate Assignment" href="#/developing-a-plan/evaluate/" class="navigation-cell evaluate" ng-class="{'viewed':areasViewed.evaluate}" ng-click="areasViewed.evaluate = true">
                    <span>Evaluate</span>
                </a>
                <a title="Use Assignment" href="#/developing-a-plan/use-assignment/" class="navigation-cell use" ng-class="{'viewed':areasViewed.use}" ng-click="areasViewed.use = true">
                    <span>Use</span>
                </a>
            </div>            
            
        </div>
        <div class="clearfix visible-xs "></div>
        <div class="col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <div class="quote-light image-top-right">
                <blockquote class="quote-primary">                                     
                    <p class="comment">Text from tutor</p>
                </blockquote>
                <img class="img-responsive img-rounded" alt="Student photo" src="../assets/images/tutor-img.jpg">
            </div>
        </div>
    </div>
            
    <div class="row spacer-bottom-4x"></div>           
</div>
