<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <p class="a-word">My</p>
                    <p class="b-word">First<span class="c-word">Assignment</span></p>                    
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >My First Assignment</h1>
    </header>
</div>


<div class="container shadow">
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Developing a Plan</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="quote-dark image-left">
                <img class="img-responsive img-rounded" src="../assets/images/student1.jpg" alt="student photo">
                <blockquote>
                    <p class="comment">
                        My tutor gave me detailed rundown about how to develop my plan for 
                        finding the information for, and writing, my assignment.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
        
    <div class="row spacer-top-3x">
        <div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1 software-block">           
            <div class="spacer-md-top spacer-lg-top col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-9 col-lg-offset-0 col-lg-9 navigation-table hidden-xs">
                <div class="col-sm-4 navigation-cell nopadding navigation-arrow-four"></div>
                <div class="col-sm-4 nopadding navigation-cell section-plan"><a href="#/developing-a-plan/assignment-plan/" title="Assignment Plan">Plan</a></div>
                <div class="col-sm-4 nopadding navigation-cell navigation-arrow-one"></div>
                <div class="col-sm-4 navigation-cell nopadding section-use"><a title="Use Assignment" href="#/developing-a-plan/use-assignment/">Use</a></div>
                <div class="col-sm-4 nopadding navigation-cell section-start"><a href="#/developing-a-plan/starting-an-assignment/" title="starting an assignment">Start</a></div>
                <div class="col-sm-4 nopadding navigation-cell section-find"><a title="Find Assignment Resources" href="#/developing-a-plan/find-resources/">Find</a></div>
                <div class="col-sm-4 navigation-cell nopadding navigation-arrow-three"></div>
                <div class="col-sm-4 nopadding navigation-cell section-evaluate"><a title="Evaluate Assignment" href="#/developing-a-plan/evaluate/">Evaluate</a></div>
                <div class="col-sm-4 nopadding navigation-cell navigation-arrow-two"></div>
                <div class="col-sm-12 nopadding navigation-cell-centre"></div>
            </div>
            <div class="col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3 col-lg-offset-0 col-lg-3 hidden-xs hidden-sm">
                <div class="img-software-side"></div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-offset-2 col-lg-7 navigation-table hidden-sm hidden-md hidden-lg">                
            <div class="col-xs-12 nopadding navigation-cell section-start"><a href="#/developing-a-plan/starting-an-assignment/" title="starting an assignment">Start</a></div>
            <div class="col-xs-12 nopadding navigation-cell section-plan"><a href="#/developing-a-plan/assignment-plan/" title="Assignment Plan">Plan</a></div>
            <div class="col-xs-12 nopadding navigation-cell section-find"><a title="Find Assignment Resources" href="#/developing-a-plan/find-resources/">Find</a></div>
            <div class="col-xs-12 nopadding navigation-cell section-evaluate"><a title="Evaluate Assignment" href="#/developing-a-plan/evaluate/">Evaluate</a></div>
            <div class="col-xs-12 navigation-cell nopadding section-use"><a title="Use Assignment" href="#/developing-a-plan/use-assignment/">Use</a></div>
        </div>            
        <div id="triangle" class="hidden-sm hidden-md hidden-lg"></div>
    </div>
    <div class="row spacer-bottom-4x"></div>        
   
</div>
