<div class="container shadow">
     
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Submitting the Assignment</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-5">
            <div class="quote-dark image-top-left">
                <blockquote>                                     
                    <p class="comment">I worked on my assignment over a three week period</p>
                    <footer>Sarah (Student)</footer>
                </blockquote>
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
            </div>
        </div>
        <div class="col-md-5">
            Image goes here
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-5">
            Image goes here
        </div>
        <div class="col-md-5">
            <div class="quote-dark image-top-right">
                <blockquote>                                     
                    <p class="comment">I asked a friend to proof read my work for me, I made some revisions, and I submitted the day before the deadline</p>
                    <footer>John (Student)</footer>
                </blockquote>
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student2.jpg">
            </div>  
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-5">
            <div class="quote-dark image-top-left">
                <blockquote>                                     
                    <p class="comment">I got my result and feedback after a few weeks, I did well!</p>
                    <footer>Mary (Student)</footer>
                </blockquote>
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
            </div>
        </div>
        <div class="col-md-5">
            Image goes here
        </div>
    </div>


    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" href="#/using-the-library/" title="Back to Using the Library">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Summary" href="#/summary/">Next</a>  
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
   
</div>