


<div id="contentFirst" class="container shadow">
    <div class="row spacer-top-3x spacer-bottom-4x spacer-xs-bottom">
        <div class="row spacer-xs-bottom-4x">
            <div class="col-md-offset-2 col-md-8 spacer-xs-top-2x spacer-xs-bottom-4x">
                <div class="q-head custom-head">
                    <h2 class="text-center">Student Stories</h2>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-offset-1 col-md-10 spacer-lg-bottom-3x">
                <div class="quote-primary-image row">
                    <div class="col-xs-offset-6 col-xs-3 col-md-2 nopadding">
                        <img class="img-responsive img-rounded" alt="student photo" src="../assets/images/student1.jpg">
                    </div>
                    <div class="col-xs-12 col-md-10 nopadding">
                        <blockquote class="full-width">
                            <p class="comment q-white">Meet some of my fellow students to find out how they used computers for learning and how they got help.</p>
                        </blockquote>                   
                    </div>
                </div>
            </div>          
        </div>
    </div>
        
    <div class="row spacer-bottom-4x">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="col-xs-12 col-md-3 text-center spacer-md-top-3x">
                <a id="f1_card" class="col-xs-offset-3 col-sm-offset-4 col-md-offset-0 col-xs-5 col-md-5 nopadding2 lnk-round" href="#student-stories/story4" title="David story">
                    <div class="front face">
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2.jpg" alt="student photo">
                    </div>
                    <div class="back face center">
                        <span class="back-title"> Click to read more</span>
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2-bg.jpg" alt="student photo">                        
                    </div>
                </a>
                <a href="../assets/audio/audio.mp3" title="David story audio">
                    <span class="icon-badge icon-speaker inline-block">
                        <i class="fa fa-volume-down"></i>
                    </span>
                </a>
                  <div class="col-xs-7 col-md-12 col-md-offset-0 nopadding panel panel-odd student-name">
                      <p class="text-left"><strong><em>David</em></strong><br>Student D</p>
                  </div>
            </div>
            
            <div class="col-xs-12 col-md-3 text-center spacer-md-top-3x">
                <a id="f1_card" class="col-xs-offset-3 col-sm-offset-4 col-md-offset-0 col-xs-5 col-md-5 nopadding2 lnk-round" href="#student-stories/story4" title="David story">
                    <div class="front face">
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2.jpg" alt="student photo">
                    </div>
                    <div class="back face center">
                        <span class="back-title"> Click to read more</span>
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2-bg.jpg" alt="student photo">                        
                    </div>
                </a>
                <a href="../assets/audio/audio.mp3" title="David story audio">
                    <span class="icon-badge icon-speaker inline-block">
                        <i class="fa fa-volume-down"></i>
                    </span>
                </a>
                  <div class="col-xs-7 col-md-12 col-md-offset-0 nopadding panel panel-odd student-name">
                      <p class="text-left"><strong><em>David</em></strong><br>Student D</p>
                  </div>
            </div>
            <div class="col-xs-12 col-md-3 text-center spacer-md-top-3x">
                <a id="f1_card" class="col-xs-offset-3 col-sm-offset-4 col-md-offset-0 col-xs-5 col-md-5 nopadding2 lnk-round" href="#student-stories/story4" title="David story">
                    <div class="front face">
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2.jpg" alt="student photo">
                    </div>
                    <div class="back face center">
                        <span class="back-title"> Click to read more</span>
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2-bg.jpg" alt="student photo">                        
                    </div>
                </a>
                <a href="../assets/audio/audio.mp3" title="David story audio">
                    <span class="icon-badge icon-speaker inline-block">
                        <i class="fa fa-volume-down"></i>
                    </span>
                </a>
                  <div class="col-xs-7 col-md-12 col-md-offset-0 nopadding panel panel-odd student-name">
                      <p class="text-left"><strong><em>David</em></strong><br>Student D</p>
                  </div>
            </div>
            <div class="col-xs-12 col-md-3 text-center spacer-md-top-3x">
                <a id="f1_card" class="col-xs-offset-3 col-sm-offset-4 col-md-offset-0 col-xs-5 col-md-5 nopadding2 lnk-round" href="#student-stories/story4" title="David story">
                    <div class="front face">
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2.jpg" alt="student photo">
                    </div>
                    <div class="back face center">
                        <span class="back-title"> Click to read more</span>
                        <img class="img-responsive img-rounded img-lnk" src="../assets/images/student2-bg.jpg" alt="student photo">                        
                    </div>
                </a>
                <a href="../assets/audio/audio.mp3" title="David story audio">
                    <span class="icon-badge icon-speaker inline-block">
                        <i class="fa fa-volume-down"></i>
                    </span>
                </a>
                  <div class="col-xs-7 col-md-12 col-md-offset-0 nopadding panel panel-odd student-name">
                      <p class="text-left"><strong><em>David</em></strong><br>Student D</p>
                  </div>
            </div>
         </div>
    </div>
    
   
           <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Popover" data-content="And here's some amazing content. It's very engaging. Right?">
               Popover
           </a>


     <audio>
     <source src="../assets/audio/audio.ogg" type="audio/ogg">
     <source src="../assets/audio/audio.mp3" type="audio/mp3">
     <object data="mediaplayer.swf?audio=audio.mp3">
     <param name="movie" value="mediaplayer.swf?audio=audio.mp3">
     <p>Your browser does not support native audio or Flash, but you can <a href="../assets/audio/audio.mp3">download this MP3</a> to listen on your device.</p>
     </object>
     </audio>

    
    <div class="row spacer-xs-bottom-4x">                
        <div class="col-md-12">
            <div class="col-md-4 reset-width spacer-xs-top-3x">
                <a class="btn btn-info btn-lg btn-block" aria-label="" title="Back to what technology do colleges provide" href="#what-technology-do-colleges-provide">Back</a>
            </div>
            <div class="col-md-offset-4 col-md-4 reset-width spacer-xs-top-3x spacer-xs-bottom-4x spacer-lg-bottom">
                <a class="btn btn-default btn-lg btn-block" aria-label="" title="Check your computer skills" href="#check-your-computer-skills">Next</a> 
            </div>

            <div class="col-xs-12 col-md-4 reset-width spacer-bottom-4x">
                <a href="#/" class="col-xs-5 col-md-5 btn btn-secondary btn-lg btn-custom" title="go to home button">Home</a>
                <a href="#resources" class="col-xs-5 col-md-5 btn btn-secondary btn-lg btn-custom pull-right" title="go to resources button">Resources</a>
            </div>
        </div>
    </div>    
</div>