<div class="container shadow">
     
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large">
                <h2 class="text-center nopadding">Summary of Student’s Key Points/Messages on how to get an assignment done</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="quote-dark image-top-left">
                <blockquote>                                     
                    <p class="comment">If I had to sum up my advice for a new student I would say that producing good assignments starts with listening in classes, taking some time over the question, before you start looking for information and most importantly being open and honest about using the information I will be using in the assignment.</p>
                    <footer>Sarah (Tutor)</footer>
                </blockquote>
                <img class="img-responsive img-rounded" alt="DCU student photo" src="../assets/images/student1.jpg">
            </div>
        </div>

    </div>

    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" href="#/submitting-the-assignment/" title="Submitting the assignment">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Resources" href="#/resources/">Next</a>  
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
   
</div>