


<div class="container shadow">
    <div class="row spacer-top-3x">
        
        <div class="row"> 
            <div class="text-center col-md-offset-1 col-md-10">
                <h2>Before you begin exploring the story of the first assignment, let’s take a look at how much experience in this are you already have.</h2>
            </div>
        </div>
        
        <div class="row">
            
                <div class="col-sm-6 col-md-3 spacer-md-top-3x">
                    <a title="Complete Beginner" ng-click="openModal('completelyBeginnerModal.html','',true)" class="circle-nav-link red">
                        <div class="circle-nav-button responsive red">
                            <span>Complete Beginner</span>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-3 spacer-md-top-6x">
                    <a title="Willing Beginner" ng-click="openModal('willingBeginnerModal.html','',true)" class="circle-nav-link orange spacer-md-top-6x">
                        <div class="circle-nav-button responsive orange">
                            <span>Willing Beginner</span>
                        </div>
                    </a>
                 </div>
            
                <div class="col-sm-12 spacer-top-2x visible-sm-block"></div>
                
                <div class="col-sm-6 col-md-3 spacer-md-top-6x">
                    <a title="Some Experience" ng-click="openModal('someExperienceModal.html','',true)" class="circle-nav-link blue ">
                        <div class="circle-nav-button responsive blue">
                            <span>Some Experience</span>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-3">
                    <a title="Completely Confident" ng-click="openModal('completelyConfidentModal.html','',true)" class="circle-nav-link green">
                        <div class="circle-nav-button responsive green">
                            <span>Completely Confident</span>
                        </div>
                    </a>
                </div>
                
                
             </div>    
              <div class="row spacer-top-3x">
                <div class="col-md-offset-5 col-md-8 col-sm-offset-1 col-sm-10 col-lg-offset-7 col-lg-5">
                    <a title="What are assignments?" ng-click="openModal('whatAreAssignmentsModal.html','',true)" class="spacer-sm-top-4x spacer-md-top-4x spacer-lg-top-0 col-sm-offset-0">
                        <div class="q-head active">
                            <span class="icon-badge active">
                               <i class="fa fa-question fa-3x fa-fw"></i>
                            </span>
                           <h2 class="nopadding">What are assignments?</h2>
                        </div>
    
                    </a>
                </div>
            </div>
        
        <div class="row spacer-bottom-4x">
            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-12 hidden-xs">
                <div class="row navigation-table2">
                    <a title="Completely Confident" ng-click="openModal('completelyConfidentModal.html','',true)"><div class="col-sm-3 navigation-cell2 section-c-conf">Completely Confident</div></a>
                    <a title="Complete Beginner" ng-click="openModal('completelyBeginnerModal.html','',true)"><div class="col-sm-3 navigation-cell2 section-c-begin">Complete Beginner</div></a>
                    <a title="Willing Beginner" ng-click="openModal('willingBeginnerModal.html','',true)"><div class="col-sm-3 navigation-cell2 section-w-begin">Willing Beginner</div></a>
                    <a title="Some Experience" ng-click="openModal('someExperienceModal.html','',true)"><div class="col-sm-3 navigation-cell2 section-s-exp">Some Experience</div></a>

                </div>
                              
                <a title="What are assignments?" ng-click="openModal('whatAreAssignmentsModal.html')" class="spacer-sm-top-4x spacer-md-top-4x spacer-lg-top-0 col-sm-offset-0">
                    <div class="spacer-md-top-4x col-sm-offset-1 col-sm-10 col-md-offset-5 col-md-8 col-lg-offset-7 col-lg-5">
                        <div class="q-head active">
                            <span class="icon-badge active">
                               <i class="fa fa-question fa-3x fa-fw"></i>
                            </span>
                           <h2 class="nopadding">What are assignments?</h2>
                        </div>
                    </div>
                </a>
                
            </div>
            
            <div class="spacer-xs-top-4x col-xs-12 col-lg-offset-2 col-lg-7 navigation-table hidden-sm hidden-md hidden-lg">                
                <div class="col-xs-12 nopadding navigation-cell section-c-begin"><a title="Complete Beginner" ng-click="openModal('completelyBeginnerModal.html')">Complete Beginner</a></div>
                <div class="col-xs-12 nopadding navigation-cell section-w-begin"><a title="Willing Beginner" ng-click="openModal('willingBeginnerModal.html')">Willing Beginner</a></div>
                <div class="col-xs-12 nopadding navigation-cell section-s-exp"><a title="Some Experience" ng-click="openModal('someExperienceModal.html')">Some Experience</a></div>
                <div class="col-xs-12 nopadding navigation-cell section-c-conf"><a title="Completely Confident" ng-click="openModal('completelyConfidentModal.html')">Completely Confident</a></div>
                
                <a title="What are assignments?" ng-click="openModal('whatAreAssignmentsModal.html')" class="spacer-xs-top-4x col-xs-offset-0 col-xs-12 popup-btn-lnk2">
                    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8">
                        <div class="q-head active">
                            <span class="icon-badge active">
                               <i class="fa fa-question fa-3x fa-fw"></i>
                            </span>
                           <h2 class="nopadding">What are assignments?</h2>
                        </div>
                    </div>
                </a>
                
            </div>            
            <div id="triangle-small" class="hidden-sm hidden-md hidden-lg"></div>
        </div>
    
    </div>
      
</div>
