
<div class="container shadow">
        
        <div class="row spacer-top-3x"> 
            <div class="text-center col-md-offset-1 col-md-10">
                <h2>Choose your level of experience on writing assignments below. Read how other students with similar experience approached that first assignment.</h2>
            </div>
        </div>
        
        <div class="row">
            
                <div class="col-sm-6 col-md-3 spacer-md-top-3x">
                    <a title="Complete Beginner" ng-click="setPersona(1);openModal('completelyBeginnerModal.html','',true)" class="circle-nav-link red">
                        <div class="circle-nav-button responsive red">
                            <span>Complete Beginner</span>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-3 spacer-md-top-6x">
                    <div class="spacer-md-top-6x">
                        <a title="Willing Beginner" ng-click="setPersona(2);openModal('willingBeginnerModal.html','',true)" class="circle-nav-link orange">
                            <div class="circle-nav-button responsive orange">
                                <span>Willing Beginner</span>
                            </div>
                        </a>
                    </div>
                 </div>
            
                <div class="col-sm-12 spacer-top-2x visible-sm-block"></div>
                
                <div class="col-sm-6 col-md-3 spacer-md-top-6x">
                    <a title="Some Experience" ng-click="setPersona(3);openModal('someExperienceModal.html','',true)" class="circle-nav-link blue ">
                        <div class="circle-nav-button responsive blue">
                            <span>Some Experience</span>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-3">
                    <a title="Completely Confident" ng-click="setPersona(4);openModal('completelyConfidentModal.html','',true)" class="circle-nav-link green">
                        <div class="circle-nav-button responsive green">
                            <span>Completely Confident</span>
                        </div>
                    </a>
                </div>
                
                
             </div>    
              <div class="row spacer-top-3x">
                <div class="col-md-offset-5 col-md-8 col-sm-offset-1 col-sm-10 col-lg-offset-7 col-lg-5">
                    <a title="What are assignments?" ng-click="openModal('whatAreAssignmentsModal.html','',true)" class="spacer-sm-top-4x spacer-md-top-4x spacer-lg-top-0 col-sm-offset-0">
                        <div class="q-head active">
                            <span class="icon-badge active">
                               <i class="fa fa-question fa-3x fa-fw"></i>
                            </span>
                           <h2 class="nopadding">What are assignments?</h2>
                        </div>
    
                    </a>
                </div>
            </div>
        
        <div class="row spacer-bottom-4x"></div> 
</div>
