<div class="container shadow">

    <div class="row spacer-xs-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="q-head dark large">
                <h2 class="text-center nopadding">You're finished</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-xs-top-3x">
        <div class="col-md-offset-2 col-xs-8">
            <div class="panel panel-info">
                <div class="panel-body">
                    Hopefully you now know more about Your Support Network. Please 
                    <a href="#/rate/" title="Rate this tool">rate</a> this tool or feel free to go back and explore 
                    <a href="#/hub/" title="Go back to Your Support Network">'Your Support Network'</a>.
                </div>
            </div>
        </div>
    </div>

    <hr class="spacer-xs-top-3x spacer-xs-bottom-3x">
    
    <div class="row spacer-xs-bottom-4x">
        <div class=" col-md-4">
            <a href="#/hub/questions/" class="btn btn-info btn-block" title="Back to Common support problems" aria-label="">Back</a>	
        </div>
        <div class="col-md-offset-4 col-md-4">
            <a href="#/rate/" class="btn btn-default btn-block" title="Rate Tool" aria-label="">Rate</a>	
        </div>
    </div>
    
</div>

