<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <span class="a-word">Who</span>
                    <span class="b-word">can</span> 
                    <span class="c-word">I ask</span>
                    <span class="f-word">?</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >Who can I ask?</h1>
    </header>
</div>

<div class="container shadow">
    <!-- <div class="row spacer-top-3x">
        <div class="col-md-12">
            <h1 class="text-center large">Header</h1>
        </div>
    </div> -->
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-6">
            <div class="row spacer-top-3x">
                <div class="panel-shadow panel-icon">
                    <p class="panel-heading large">
                    <span class="first-word">This</span>
                    tool helps you think about <strong><em>who</em></strong> you might ask for support in order to help you successfully complete your studies.<br><br>
                        It offers some advice on <strong><em>how</em></strong> others might support you.<br><br>
                        It also offers <strong><em>advice</em></strong> on how you might deal with a lack of support.                
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <div class="aside-arrows">
                <aside class="aside-arrow top">
                    <p>Who are the people that support me?</p>
                </aside>
                <aside class="aside-arrow middle">
                    <p>How can they help me?</p>
                </aside>
                <aside class="aside-arrow bottom">
                    <p>What are they good at?</p>
                </aside>        
            </div>

                <a href="#hub" class="btn btn-default btn-lg btn-block spacer-bottom" title="start" ng-click="resetAreasViewed()">
                    Start
                </a> 

        </div>
        

        
        
    </div>
</div>