<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <span class="a-word">Who</span>
                    <span class="b-word">can</span> 
                    <span class="c-word">I ask</span>
                    <span class="f-word">?</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >Who can I ask?</h1>
    </header>
</div>

<div class="container shadow">

    <div class="row spacer-top-3x">
        <div class="col-xs-12 col-md-offset-1 col-md-6 ">
            <div class="row hub-nav">
                <div class="hub-button-bg"></div>

                <div class="pos-12">
                    <a href="#/hub/others" title="How can Others help me?" ng-class="{'viewed':areasViewed.others}" ng-click="areasViewed.others = true">
                       <div class="hub-button button-others" >
                           <p>Others</p>
                           <div class="shadow-container"><div class="transparent-shadow"></div></div>
                       </div>
                    </a>
                </div>
                <div class="pos-2">
                    <a href="#/hub/friends" title="How can My Friends help me?" ng-class="{'viewed':areasViewed.friends}" ng-click="areasViewed.friends = true">
                        <div class="hub-button button-friends">
                            <p>My<br>Friends</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
                <div class="pos-4">
                    <a href="#/hub/family" title="How can My Family help me?" ng-class="{'viewed':areasViewed.family}" ng-click="areasViewed.family = true">
                        <div class="hub-button button-family">
                            <p>My<br>Family</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>

                </div>
                        

                <div class="pos-6">
                    <a href="#/hub/other-students" title="How can Other Students help me?"ng-class="{'viewed':areasViewed.students}" ng-click="areasViewed.students = true" >
                        <div class="hub-button button-students">
                            <p>Other<br>Students</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>

                <div class="pos-8">
                    <a href="#/hub/employer" title="How can My Employer help me?" ng-class="{'viewed':areasViewed.employer}" ng-click="areasViewed.employer = true">
                        <div class="hub-button button-employer">
                            <p>My<br>Employer</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>

                <div class="pos-10">
                    <a href="#/hub/university" title="How can My University help me?" ng-class="{'viewed':areasViewed.university}" ng-click="areasViewed.university = true">
                        <div class="hub-button button-university">
                            <p>My<br>University</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
                
                <div class="pos-center">
                    <div class="hub-button button-me">
                        <p>Me</p>
                    </div>
                </div>


            </div>
            <div class="row spacer-top-3x">
                <div class="col-md-4">
                    <a href="#/hub/dont-want-to-ask" title="don't want to ask- button" ng-class="{'viewed':areasViewed.wontAsk}" ng-click="areasViewed.wontAsk = true">
                        <div class="hub-button button-gray">
                            <p>Don't want<br>to ask</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#/hub/no-one-to-ask" title="no one to ask- button" ng-class="{'viewed':areasViewed.noOneToAsk}" ng-click="areasViewed.noOneToAsk = true">      
                        <div class="hub-button button-gray">
                            <p>No one<br>to ask</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#/hub/questions" title="common questions- button" ng-class="{'viewed':areasViewed.questions}" ng-click="areasViewed.questions = true">
                        <div class="hub-button button-gray">
                            <p>Common<br>questions</p>
                            <div class="shadow-container"><div class="transparent-shadow"></div></div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>
        <div class="col-md-4 hub-right">
                   <div class="panel panel-odd flex-font">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2 col-sm-1 nopadding">
                                <i class="fa fa-question fa-5x q-icon"></i>
                            </div>
                            <div class="col-xs-10 col-sm-11 nopadding">
                                <p class="highlight">On this <strong><em>HOME</em></strong> page you can click on each shape to find out more.</p>
                            </div>
                        </div>
                    </div>
                   </div>
            <div class="panel panel-even flex-font">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2 col-sm-1 nopadding">
                                <i class="fa fa-question fa-5x q-icon"></i>
                            </div>
                            <div class="col-xs-10 col-sm-11 nopadding">
                                <p class="highlight">Perhaps you do not want to talk to anyone about your decision to study. It might help you to know that many people feel that way. Click here to find out more. 
                        Alternatively, you might feel there is nobody you can talk to. If that sounds like your situation then click <a href=#>here</a> to find out more.</p>
                            </div>
                        </div>
                    </div>
                   </div>
            <div class="panel panel-odd flex-font">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2 col-sm-1 nopadding">
                                <i class="fa fa-question fa-5x q-icon"></i>
                            </div>
                            <div class="col-xs-10 col-sm-11 nopadding">
                                <p class="highlight">Click <a href=#>here</a> to find responses to some common concerns students have.</p>
                            </div>
                        </div>
                    </div>
                   </div>
               
            </div>      
        </div>
    </div>
    <div class="row spacer-bottom-4x"></div>
</div>

