
<div class="container shadow">
    
    <div class="row spacer-xs-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="q-head dark large">
                <h2 class="text-center nopadding">No One To Ask</h2>
            </div>
        </div>
    </div>
    
    <div class="row spacer-xs-top-2x">
        <div class="col-xs-12 col-md-6">
            <div class="quote-primary-image row">
                <div class="col-xs-offset-6 col-xs-6 col-md-4 nopadding">
                    <a title="" ng-click="openModal('noOneToAskModal3.html','',true)" class="" tooltip-placement="right" tooltip="Click to find out more about the friends story">
                        <img class="img-responsive img-rounded" alt="Student photo" src="../assets/images/student1.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-8 nopadding">
                    <blockquote class="quote-primary">                                     
                        <i class="fa fa-quote-left fa-3x"></i>
                        <p>‘I kept my college friends and my ‘old’ friends separate… That worked for me.’</p>
                    </blockquote>
                    <div class="o-round"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-info spacer-top-3x figure-bg">
                <div class="panel-body spacer-top">
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Be clear that this course of study is something <strong>you want</strong> to try.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                               Organise your time at the beginning of the course
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                               Realise it is normal to have different groups of friends
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                               Prioritise your paid work
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 text-center nopadding">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <div class="col-xs-11">
                            <p class="spacer-top-halfx">
                                Use the university supports if you need them e.g. <a href="" title="counselling support">counselling support</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="spacer-top-3x">

    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
             <a href="#hub/no-one-to-ask-second/" class="btn btn-info btn-block" title="Back to No one to ask second page" aria-label="">Back</a>
        </div>
        <div class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a href="#hub" class="btn btn-default btn-block" title="Back to home" aria-label="">Go to My Support Network</a>	
        </div>
    </div>
    
</div>