<div class="container shadow">
    <header>
        <div id="header" class="">
                <!-- institution logo here -->
                <h1 class="header-heading who-can-i-ask hidden-xs">
                    <span class="a-word">Who</span>
                    <span class="b-word">can</span> 
                    <span class="c-word">I ask</span>
                    <span class="f-word">?</span>
                </h1>
        </div>
        <h1 class="visible-xs-block mob-heading" >Who can I ask?</h1>
    </header>
</div>

<div class="container shadow">
    
    <div class="row spacer-xs-top-4x spacer-xs-bottom-4x">
        <div class="col-md-offset-1 col-md-10 spacer-xs-top spacer-xs-bottom">
            <div class="q-head custom-head">
                <h2 class="custom-padding text-center">How useful was this resource?</h2>
            </div>
        </div>
    </div>
    <div class="row spacer-top-3x">
        <div class="col-md-offset-1 col-md-10">
            <div class="activity-panel">
                <p class="heading-text">
                    <span class="heading-text-big">Please</span> help us improve this resource by ticking the box that represents your level of agreement with the following statements:
                </p>
            </div>
        </div>
    </div>
    <form id="" method="GET" action="" onchange="">    
    <div class="row">
        <div class="col-md-12">
            <div class="row visible-md-block visible-lg-block">
                <div class="col-md-12 text-center">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <label class="col-md-3 col-md-custom-20"><span>Strongly disagree</span></label>
                        <label class="col-md-3 col-md-custom-20"><span>Disagree</span></label>
                        <label class="col-md-3 col-md-custom-20"><span>Partly agree</span></label>
                        <label class="col-md-3 col-md-custom-20"><span>Agree</span></label>
                        <label class="col-md-3 col-md-custom-20"><span>Strongly agree</span></label>
                    </div>
                </div>
            </div>
            <div class="row rate-row">
                <div class="col-md-12 panel-odd">
                    <div class="col-md-5 rate-q">I found this resource useful</div>

                    <div class="col-md-7">
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="first-sd" class="visible-sm-block visible-xs-block rate-mob-labels">Strongly disagree</label>
                            <input id="first-sd" type="radio" class="rate-radio" value="Strongly disagree" name="group1">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="first-d" class="visible-sm-block visible-xs-block rate-mob-labels">Disagree</label>
                            <input id="first-d" type="radio" class="rate-radio" value="Disagree" name="group1">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="first-pa" class="visible-sm-block visible-xs-block rate-mob-labels">Partly agree</label>
                            <input id="first-pa" type="radio" class="rate-radio" value="Partly agree" name="group1">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="first-a" class="visible-sm-block visible-xs-block rate-mob-labels">Agree</label>
                            <input id="first-a" type="radio" class="rate-radio" value="Agree" name="group1">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="first-sa" class="visible-sm-block visible-xs-block rate-mob-labels">Strongly agree</label>
                            <input id="first-sa" type="radio" class="rate-radio" value="Strongly agree" name="group1">
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row rate-row">
                <div class="col-md-12 panel-even rate-panel-even">
                    <div class="col-md-5 rate-q">I felt more prepared than I was before</div>
                    <div class="col-md-7">
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="second-sd" class="visible-sm-block visible-xs-block rate-mob-labels">Strongly disagree</label>
                            <input id="second-sd" type="radio" class="rate-radio" value="Strongly disagree" name="group2">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="second-d" class="visible-sm-block visible-xs-block rate-mob-labels">Disagree</label>
                            <input id="second-d" type="radio" class="rate-radio" value="Disagree" name="group2">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="second-pa" class="visible-sm-block visible-xs-block rate-mob-labels">Partly agree</label>
                            <input id="second-pa" type="radio" class="rate-radio" value="Partly agree" name="group2">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="second-a" class="visible-sm-block visible-xs-block rate-mob-labels">Agree</label>
                            <input id="second-a" type="radio" class="rate-radio" value="Agree" name="group2">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="second-sa" class="visible-sm-block visible-xs-block rate-mob-labels">Strongly agree</label>
                            <input id="second-sa" type="radio" class="rate-radio" value="Strongly agree" name="group2">
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row rate-row">
                <div class="col-md-12 panel-odd">
                    <div class="col-md-5 rate-q">I will follow some/all of the advice</div>
                    <div class="col-md-7">
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="third-sd" class="visible-sm-block visible-xs-block rate-mob-labels">Strongly disagree</label>
                            <input id="third-sd" type="radio" class="rate-radio" value="Strongly disagree" name="group3">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="third-d" class="visible-sm-block visible-xs-block rate-mob-labels">Disagree</label>
                            <input id="third-d" type="radio" class="rate-radio" value="Disagree" name="group3">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="third-pa" class="visible-sm-block visible-xs-block rate-mob-labels">Partly agree</label>
                            <input id="third-pa" type="radio" class="rate-radio" value="Partly agree" name="group3">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="third-a" class="visible-sm-block visible-xs-block rate-mob-labels">Agree</label>
                            <input id="third-a" type="radio" class="rate-radio" value="Agree" name="group3">
                        </div>
                        <div class="col-md-3 col-md-custom-20 text-center ">
                            <label for="third-sa" class="visible-sm-block visible-xs-block rate-mob-labels">Strongly agree</label>
                            <input id="third-sa" type="radio" class="rate-radio" value="Strongly agree" name="group3">
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    </form>
    <div class="row spacer-xs-top-4x spacer-xs-bottom-4x">
        <div class="col-md-offset-1 col-md-10 spacer-xs-top spacer-xs-bottom">
            <div class="q-head custom-head">
                <h2 class="custom-padding text-center">Send us your feedback</h2>
            </div>
        </div>
    </div>
    <div class="row spacer-top-2x">
        <div class="col-md-offset-3 col-md-6">
            <form id="feedbackForm" name="feedbackForm" enctype="" method="post" action="">
                <input id="firstname" type="text" ng-model="feedbackName" class="form-control" type="text" placeholder="First Name">
                <textarea placeholder="Your comment" ng-model="feedbackComment" class="form-control" rows="8"></textarea>
            </form>
        </div>
    </div>
    <div class="row buttons spacer-top spacer-bottom-3x">
            <div class="col-md-offset-3 col-md-6 text-sm-right">
                <a ng-href="mailto:info@fluid-rock.com?subject=Feedback%20From%20Tool%201&body=Name:%20{{feedbackName|encodeURIComponent}}%0D%0ARating:%20{{starRating}} stars%0D%0AComment:%20{{feedbackComment|encodeURIComponent}}" 
                   class="btn btn-default btn-md btn-xs-block" title="submit rate and comment button">
                    Submit
                </a>
            </div>
    </div>
</div>