
.st-callout  {
    padding:10px 0;
    font-size: 1em;
    line-height: 1em;
}
.st-callout .title {
    font-size: 1.5em;
    line-height: 1em;
}

/* section colours */
//** Default non active color
.rz-bubble, .st-callout {
    color: $activity-default;
}
.rz-pointer {
    border: 4px solid $activity-default;
}
//** Work active color
.work-callout.active {
    color: $work-color !important;
}
.work-callout.active .rz-pointer{
    border: 4px solid $work-color;
}
//** Household active color
.household-callout.active{
    color: $household-color !important;
}
.household-callout.active .rz-pointer {
    border: 4px solid $household-color !important;
}

//** family active color
.family-callout.active {
    color: $family-color !important;
}
.family-callout.active .rz-pointer{
    border: 4px solid $family-color !important;
}

//** indoor active color
.indoor-callout.active {
    color: $indoor-color !important;
}
.indoor-callout.active .rz-pointer{
    border: 4px solid $indoor-color !important; 
}

//** Outdoor active color
.outdoor-callout.active {
    color: $outdoor-color !important;
}
.outdoor-callout.active .rz-pointer {
    border: 4px solid $outdoor-color !important;
}

//** Sleep active color
.sleep-callout.active {
    color: $sleep-color !important;
}
.sleep-callout.active .rz-pointer {
    border: 4px solid $sleep-color !important;
}


/* free time slide */
.freetime-callout .rz-bubble, .freetime-callout{
    color: $freetime-color;
}
.freetime-callout .rz-pointer {
    border: 5px solid $freetime-color;
}

.freetime-callout  {
    margin: -10px 0 10px 0;
}
.free-t-title {
    font-size: 1.6em;
    font-weight: $bold;
    line-height: 1em;
}

a.btn.reset{
    font-size: 1.2em;
}

@media only screen and (max-width: $screen-desktop) {
    
    .st-callout{
        padding-top:20px;
    }

    .st-callout a.title{
        display: inline;
        font-size: 1.7em;
        margin-right: 0.3em;
        text-decoration: underline;
        color: $third-color;
    }
    
    .st-callout .second{
        display: inline;
        font-size: 1.3em;
        line-height: 1em;
    }
    
    .st-callout .fa {
        line-height: 0.5em;
    }

    a.def-lnk:hover, a.mob.def-lnk:focus, a.mob.def-lnk:active {
        color: $font-color;
    }
    .st-callout .activity-info{
        float: left;
    }
    .modal-lnk {
        font-size: 1.7em  !important;
        margin: 0.3em 0 0;
        text-decoration: underline;
        float: right;
        line-height: 1em;
    }
}

@media only screen and (max-width: $screen-xs-max) {
    .st-callout .activity-info{
        font-size: 0.8em  !important;
    }
    
    .modal-lnk {
        font-size: 1em  !important;
        margin-top: 1em;
    }
}