
.icon-badge {
    background-color: $secondary-color;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $secondary-color;
    border: 2px solid $font-color-dark-bg;
    color: $font-color-dark-bg;
    font-size: 1em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 90px;
    height: 90px;
    z-index: 100;
    padding-top: 8px;
    
    &.active{
        background-color: $primary-color;
        box-shadow: 0 0 0 2px $primary-color;

    }

    &.block {
        position: relative;
        display:block;
    }

    &.inline-block {
        position: relative;
        display:inline-block;
        /*margin-right:10px;
        margin-bottom: 10px;*/
    }

    &.icon-lg-gray {
        background-color: #afafaf;
        border-radius: 100%;
        box-shadow: 0 0 0 2px #afafaf;
        font-size: 2em;
        height: 180px;
        padding-top: 0;
        width: 180px;
        margin: 0 auto;
        .fa-fix1 {
            line-height: 160px;
        }
        .fa-fix2 {
            line-height: 170px;
        }
        .fa-fix3 {
            line-height: 180px;
        }
    }

    /* Fix Icon position to make it apper more centered*/
    &.icon-fix{
         padding-top: 10px;
    }
    
    &.icon-xs{
        padding-top: 2px;
        height: 32px;
        width: 32px;
    }
    
    &.icon-sm{
        padding-top: 3px;
        height: 52px;
        width: 52px;
    }
    
    &.icon-lg{
        height: 180px;
        width: 180px;
    }
}

/* Arrow */
.block-arrow {
    background: rgba(0, 0, 0, 0) url("../../assets/images/arrow.png") no-repeat scroll center top / 100% 100%;
    height: 110px;
    min-height: 80px;
    
    &.point-down {
        position: absolute;
        right: 0;
        transform: rotate(35deg);
        z-index: 100;
    }
    .block-arrow-two {
        height: 90px;
        left: 40%;
        min-height: 80px;
        position: absolute;
        right: 50%;
        top: -15%;
        transform: rotate(5deg);
        width: 220px;
        z-index: 100;
    }
}

.arrow-txt {
    color: #fff;
    font-size: 2.4em;
    font-style: italic;
    position: relative;
    top: 13px;
}