 
.circle-color {        
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 600;
    height: 59px;
    line-height: 59px;
    margin: 0 auto;
    padding: 0 !important;
    position: relative;
    text-align: center;
    top: -3px;
    width: 59px;
    
    &.green {
        background-color: #a5b638;
    }
    
    &.orange {
        background-color: $button-color;
    }
    &.red{
        background-color: #d9534f;
    }
    
    &.inline{
        float: left;
    }
    
}

.green-text {
    color: #a5b638;
}

.orange-text {
    color: $button-color;
}

.red-text {
    color: #d9534f;
}
  
.radio-circle-bg {
    background: transparent none repeat scroll 0 0;
    border: 10px solid rgba(165,182,56,0.3);
    border-radius: 100%;
    display: block;
    line-height: 1em;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    
    &.green{
        border: 10px solid rgba(165,182,56,0.3);
    }
    
    &.orange{
        border: 10px solid rgba(249,160,41,0.3);
    }
    
    &.red{
        border: 10px solid rgba(217, 83, 79, 0.3);
    }
}

.radio-circle-group {
    
    float:right;
    
    div:not(:first-child){
        margin-left: 9px;
    }
    
    @media (max-width: $screen-sm-max) {
        width:100%;
        margin: 15px 0 0 0;
        
        .radio-circle-bg{
            margin: 0 auto;
        }
        
        div {
            width: 33.33333%;
            margin-left: 0 !important;
        }
    }
}
