
$color-green: #3c763d;

$color-red: #d9534f;

$color-orange: $button-color;

.circle-color {        
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 600;
    height: 59px;
    line-height: 59px;
    margin: 0 auto;
    padding: 0 !important;
    position: relative;
    text-align: center;
    top: -3px;
    width: 59px;
    
    &.green {
        background-color: $color-green;
    }
    
    &.orange {
        background-color: $color-orange;
    }
    &.red{
        background-color: $color-red;
    }
    
    &.inline{
        float: left;
    }
    
}

.green-text {
    color: $color-green;
}

.orange-text {
    color: $color-orange;
}

.red-text {
    color: $color-red;
}
  
.radio-circle-bg {
    background: transparent none repeat scroll 0 0;
    border: 10px solid lighten($color-green, 20);
    border-radius: 100%;
    display: block;
    line-height: 1em;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    
    &.active{
        border: 10px solid $color-green;
    }
    
    &.green{
        border: 10px solid lighten($color-green, 20);
        &.active{
            border: 10px solid $color-green;
        }
    }
    
    &.orange{
        border: 10px solid lighten($color-orange, 20);
         &.active{
            border: 10px solid $color-orange;
        }
    }
    
    
    &.red{
        border: 10px solid lighten($color-red, 20);
         &.active{
            border: 10px solid $color-red;
        }
    }
    
    
    &.center{
        margin: 0 auto;
    }
}

.radio-circle-group {
    
    float:right;
    
    div:not(:first-child){
        margin-left: 9px;
    }
    
    @media (max-width: $screen-sm-max) {
        width:100%;
        margin: 15px 0 0 0;
        
        .radio-circle-bg{
            margin: 0 auto;
        }
        
        div {
            width: 33.33333%;
            margin-left: 0 !important;
        }
    }
    
    .active .radio-circle-bg{
        &.green{
            border: 10px solid $color-green;
        }

        &.orange{
            border: 10px solid $color-orange;
        }

        &.red{
            border: 10px solid $color-red;
        }
    }
}

/* Used in the rating label*/
.text-label{
    min-height: 40px;
}

/* Tool 5 */

