/*
 * Responsive Floats
 */
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.pull-xs-right { float: right !important; }
.pull-xs-left { float: left !important; }
.pull-xs-none { float: none !important; }

@media (min-width: $screen-sm-min) {
    .pull-sm-right { float: right !important; }
    .pull-sm-left { float: left !important; }
    .pull-sm-none { float: none !important; }
}

@media (min-width: $screen-md-min) {
    .pull-md-right { float: right !important; }
    .pull-md-left { float: left !important; }
    .pull-md-none { float: none !important; }
}

@media (min-width: $screen-lg-min) {
    .pull-lg-right { float: right !important; }
    .pull-lg-left { float: left !important; }
    .pull-lg-none { float: none !important; }
}