/* FOOTER
============================================================================= */

footer .row {
    background: $footer-bg-color none repeat scroll 0 0;
	border-radius: 10px;
    border-top: medium none !important;
    color: $footer-font-color;
	margin: 1em 0;
	overflow: hidden;
}
footer ul {
    list-style: outside none none;
}
footer li {
    float: left;
}
a {
	transition: all 300ms ease-out 0s;
	-moz-transition: all 300ms ease-out 0s;
	-o-transition: all 300ms ease-out 0s;
	-webkit-transition: all 300ms ease-out 0s;
}
footer a {
    color: $footer-font-color;
	opacity: 0.7;
}
.footer-clock {
    float: right;
    margin: -30px -20px 0 0;
    opacity: 0.5;
}
.footer-soc {
    border: 2px solid $footer-font-color;
    border-radius: 100%;
    float: left;
    font-size: 2.1em;
    height: 45px;
    line-height: 35px;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: center;
    width: 45px;
}
#footerSocial {
    margin: 1em;
	float: left;
}

#footerMenu {
    float: left;
    width: 70%;
}
footer ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
footer li {
    display: inline-block;
    float: none;
    font-size: 1.2em;
    line-height: 4.5em;
    margin: 0 5px;
}
footer li a:hover {
    text-decoration: underline;
	color: $footer-font-color;
	opacity: 1;
}
#footerSocial > a:hover, #footerSocial > a:active, #footerSocial > a:focus, 
#footerSocialBtn > a:hover, #footerSocialBtn > a:active, #footerSocialBtn > a:focus {
	color: $footer-font-color;
	opacity: 1;
}
.footer-soc.fb:before{
	font-family: FontAwesome;
	content: "\f09a";
	vertical-align: middle;
}
.footer-soc.tw:before {
	font-family: FontAwesome;
	content: "\f099";
	vertical-align: middle;
}
.footer-soc.ln:before {
	font-family: FontAwesome;
	content: "\f0e1";
}
footer hr {
    clear: both;
    opacity: 0.5;
	margin: 0;
}
.footer-logos {
    display: block;
    margin: 5px auto;
}

@media only screen and (max-width: $screen-desktop) {
    
	
	/*footer*/
	#footerSocial, .footer-clock {
		display: none;
	}
	#footerSocialBtn {
		display: inline-block;
		float: none;
		margin: 1em auto 1.8em;
		text-align: center;
		width: 100%;
	}
	.footer-soc {
		font-size: 3em;
		height: 60px;
		line-height: 50px;
		margin: 0 20px 0 0;
		width: 60px;
	}
	.footer-soc {
		display: inline-block;
		float: none;
	}
	#footerMenu {
		float: left;
		width: 100%;
	}
	#footerMenu a {
		font-size: 1.3em;
		text-transform: uppercase;
	}
	footer ul {
		margin: 1.5em 0 0;
	}
	footer li {
		display: block;
		float: none;
		line-height: 2.5em;
		margin: 10px auto;
	}
	.footer-logos {
		margin: 20px auto;
	}
        
        #footerSocialBtn {
            display: none!important;
        }
}

@media only screen and (max-width:$screen-tablet) {
    .footer-soc {
        font-size: 3.5em;
        height: 80px;
        line-height: 70px;
        margin: 0 20px 0 0;
        width: 80px;
    }
    .footer-soc {
        display: inline-block;
        float: none;
    }

    #footerMenu a {
        font-size: 1.2em;
    }
    footer ul {
        margin: 1.5em 0 0;
    }
    footer li {
        display: block;
        float: none;
        line-height: 2.5em;
        margin: 10px auto;
    }
}

/* END FOOTER
============================================================================= */