//
// Banner Headers
// --------------------------------------------------

//** Banner Header
.q-head {
    background-color: $secondary-color;
    border: 2px solid $font-color-dark-bg;
    border-radius: 8px;
    box-shadow: 0 0 0 2px $secondary-color;
    color: $font-color-dark-bg !important;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0 auto;
    padding: 8px 1em 8px 2em;
    position: relative;


    h2{
       color: $font-color-dark-bg !important;
       font-weight: $regular;

   }
    h2.small{
       font-size: 1em;
   }

   &.large{
       padding-top: 14px;
       padding-bottom: 14px;
   }

   &.active{
       background-color: $primary-color;
       box-shadow: 0 0 0 2px $primary-color;  
   }

   &.dark {
       background-color: #1a8099;
       box-shadow: 0 0 0 2px #1a8099;  
   }
   
   &.section-1 {
       background-color: #a5b638;
       box-shadow: 0 0 0 2px #a5b638;  
   }
   
   &.section-2 {
       background-color: #c87676;
       box-shadow: 0 0 0 2px #c87676;  
   }
   
   &.section-3 {
       background-color: #38b6b2;
       box-shadow: 0 0 0 2px #38b6b2;  
   }
   
   /* Header Colors Tool3*/
   &.yellow {
       background-color: #e3d754;
       box-shadow: 0 0 0 2px #e3d754;  
   }
   
   &.light-blue {
       background-color: #08a7cd;
       box-shadow: 0 0 0 2px #08a7cd;  
   }
   
   &.tangerine {
       background-color: #38b6b2;
       box-shadow: 0 0 0 2px #38b6b2;  
   }

   &.green {
       background-color: #a5b638;
       box-shadow: 0 0 0 2px #a5b638;  
   }
   
   &.dark-blue {
       background-color: #3873b6;
       box-shadow: 0 0 0 2px #3873b6;  
   }
   
   &.red {
       background-color: #c87676;
       box-shadow: 0 0 0 2px #c87676;  
   }
   
   &.orange {
       background-color: #f9a029;
       box-shadow: 0 0 0 2px #f9a029;  
   }
   

   //** Icon badge position
    .icon-badge {
       margin: -25px 0 0 -100px;
   }

   .h-icon{
        color: rgba(255, 255, 255, 0.5)
   }
   
   .icon-badge.multi-row {
        margin: -15px 0 0 -100px;
    }

    .img-badge-right {
        position: absolute;
        right: -10px;
        top: -1.5em;
        width: 6em;
    }

    .img-badge-left {
        position: absolute;
        left: -10px;
        top: -50%;
        width: 120px;
    }
    
    @media(max-width:$screen-sm-max){
        //-- Banner header for mobile
        display: block;
        float: left;
        font-size: 1.5em;
        line-height: normal;
        padding: 8px 10px;
        width: 100%;
        border: none;
        box-shadow: none;
        
        //-- Banner icon badge for mobile
        .icon-badge {
            background-color: transparent;
            border: medium none;
            box-shadow: none;
            float: left;
            height: auto;
            margin: 0 15px 20px 0;
            position: relative;
            width: auto;
            padding: 0;
        }
    }
}