

ul.info-list {
    padding: 2em 2em 2em 3em;
    list-style: none;
    line-height: 1.5em;
    
    li{
        padding-bottom: 0.8em;
        font-size: 1.2em;
    }
    
    a {
        font-size: 1.5em;
        line-height: 1em;
        margin-bottom: 0.3em;
        margin-left: 2px; /* Fix for inline-block margin*/
    }
        
    li:before {    
        font-family: 'FontAwesome';
        content: "\f105";
        margin: 0 5px 0 -20px;
        color: #f9a029;
        font-size: 1.7em;

    }
    
}

ul.hoz-step-listing{
    list-style: none;
    padding: 0;
    text-align: center;
    position: relative;
    
    @media(min-width:$screen-md-max){
        margin-top: 8em;
        margin-bottom: 8em;
    
        &:before{
            content: "\f178";
            font-family: FontAwesome;
            @include vertical-align();
            font-size: 60em;
            position: absolute;
            text-align: center;
            color: #ccc;
            width: 100%;  
        }
    }
    
    li{
        background-color: #1a8099;
        color: #fff;
        position: relative;
        width: 160px;
        padding: 1em;
        box-shadow: 3px 2px 4px #cadce0;
        margin: 0;
        overflow: hidden;
        display: inline-block;
        margin: 6px;
        height: 150px;
        border: 4px solid #fff;
        border-radius: 10px;
        
        
        span.step{
            @include vertical-align();
            position:absolute;
            width: 130px;
            text-align: center;
            font-size: 7em;
            opacity: 0.3;
        }
        
        span{
            @include vertical-align();
            display:block;
            text-align: center;
            font-size: 1.2em;
            font-weight: 600;
            
            a {
                color: #fff;
                cursor: pointer;
                line-height: 1em;
                font-size: 1.1em;
                font-weight: 600;
            }
        }
    }
    
    
}

ul.link-list {
    
    list-style: none;
    
    li{
        padding-bottom: 0.3em;
    }
    
    li:before {
        font-family: 'FontAwesome';
        content: "\f105";
        color: #f9a029;
        font-size: 1.3em;
        @include vertical-align();
    }
}

ul{
    &.green li>a{
        color: #a5b638
    }
    &.red li>a{
        color: #c87676
    }
    &.tangerine li>a{
        color: #38b6b2
    }
    &.orange li>a{
        color: #f9a029
    }
    &.dark-blue li>a{
        color: #3873b6
    }
    &.light-blue li>a{
        color: #08a7cd
    }
}