//**================== Tool3 Hub page
$round-nav-width:  180px;
$round-nav-height:  180px;
    
.round-nav {
    position:relative;
    padding: ($round-nav-height/3);
    
    a {
        line-height: inherit;

        &:hover{
            text-decoration: none;
            color:transparent;
        }
    }
    
    @media(max-width:$screen-sm-max){
        margin-left: 30px;
        margin-right: 30px;
    } 
    
    .pos-12 {
        position:absolute;
        top: 0;
        left:50%;
    }

    .pos-2 {
        position:absolute;
        top: 20%;
        right: 3%;
        width: 35%;
        
        .next-arrow{
            transform: rotate(35deg);
            margin-top: -11%;
            margin-left: -20%;
            img{
                width:100%;
            }
        }
    }
    
    .pos-3 {
        position:absolute;
        top: 50%;
        right: 0;
        .round-nav-button {
            margin-top: -($round-nav-height /2);
        }
    }

    .pos-4 {
        position:absolute;
        bottom: 20%;
        right: 3%;
        width: 35%;
        .next-arrow{
            transform: rotate(130deg);
            margin-bottom: -11%;
            margin-left: -20%;
            img{
                width:100%;
            }
        }
    }

    .pos-6 {
        position:absolute;
        bottom: 0;
        left: 50%;
    }

    .pos-8 {
        position:absolute;
        bottom: 20%;
        left: 3%;
        width: 35%;
        .round-nav-button {
            margin-left: 0 !important;
            margin-right: -($round-nav-width /2);
        }
        
        .next-arrow{
            transform: rotate(215deg);
            margin-bottom: -11%;
            margin-right: -20%;
            img{
                width:100%;
            }
        }
    }
    
    .pos-9 {
        position:absolute;
        top: 50%;
        left: 0;
        .round-nav-button {
            margin-left: 0 !important;
            margin-right: -($round-nav-width /2);
            margin-top: -($round-nav-height /2);
        }
    }

    .pos-10 {
        position:absolute;
        top: 20%;
        left: 3%;
        width: 35%;
        .round-nav-button {
            margin-left: 0 !important;
            margin-right: -($round-nav-width /2);
        }
        .next-arrow{
            transform: rotate(315deg);
            margin-top: -11%;
            margin-right: -20%;
            img{
                width:100%;
            }
        }

    }

    .pos-center {
        position:absolute;
        top: 50%;
        left: 50%;

    }

    .round-nav-button-bg {
        background-color: #ccc;
        border-radius: 100%;
        display: inline-block;
        padding: 50% 0;
        width:100%;
    }
    
        
}



.round-nav-button {
    border: 4px solid #adadad;
    border-radius: 100%;
    width: $round-nav-width;
    height: $round-nav-height;
    z-index: 2;
    margin-left: -($round-nav-width / 2);
    position:relative;
    text-align: center;
    background-color: #adadad;
    box-shadow: 0 0 0 4px #fff inset;
    
    p {
        @include vertical-align();
        color: #fff; 
        font-size: 2.6em;
        font-weight: 600;
        text-align: center;
        text-shadow: 3px 0 3px #999;
    }
    
    &.plan:hover{
        background: #08a7cd;
        border: 4px solid #08a7cd;
    }
    
    &.find:hover{
        background: #a5b638;
        border: 4px solid #a5b638;
    }
    
    &.evaluate:hover{
        background: #c87676;
        border: 4px solid #c87676;
    }
    
    &.use:hover{
        background: #38b6b2;
        border: 4px solid #38b6b2;
    }
    
    
    &:hover:before {
        color: rgba(255,255,255,0.5);
        transform: scale(1.1);
    }
    
  
}
 


/* For desktop (md) Circles need to be smaller so that they to not overlap. */
.round-nav-button {
    
    
    /* Mobile Screen size: Circles need to be smaller */
     @media(max-width:$screen-phone){
         
     }
}

 //** tool5 second navigation
 
.navigation-table {
    background-image: linear-gradient(to right top, transparent 50%, #ddd 50%),linear-gradient(to left top, transparent 50%, #ddd 50%);
    background-position: left 50px, right 50px;
    background-repeat: no-repeat;
    background-size: 50.2% 92%;
    height: 100%;
    width: 100%;
    overflow: auto;
}

 .navigation-cell {
     
    height: 100px;
    width: 100%;
    margin-bottom: 1em !important;
    
    display: block;
    overflow: hidden;
    
    background: #adadad;
    border: 4px solid #adadad;
    border-radius: 50px;
    box-shadow: 0 0 0 4px #fff inset;
    
    transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    -o-transition: all 300ms ease-out 0s;
    -webkit-transition: all 300ms ease-out 0s;
    
    color: #fff;
    font-size: 2.6em;
    text-align: center;
    text-transform: uppercase;
    
    span{
        padding-top: 0.5em;
        display: block;
    }
    
    &:hover{
        text-decoration: none;
        color: #fff;
    }
    
    &.plan:hover,&.plan:active{
        background: #08a7cd;
        border: 4px solid #08a7cd;
        
    }
    
    &.find:hover{
        background: #a5b638;
        border: 4px solid #a5b638;
    }
    
    &.evaluate:hover{
        background: #c87676;
        border: 4px solid #c87676;
    }
    
    &.use:hover{
        background: #38b6b2;
        border: 4px solid #38b6b2;
    }
    
    
 
}




//** tool5 progress bar

.section-nav.simple-progress-b li.active.start-active span.title {
    font-size: 2em;
    font-weight: bold;
    color: $primary-color;
}

.section-nav.simple-progress-b li.active.start-active span.connector {
    background: $primary-color none repeat scroll 0 0;
}

.section-nav.simple-progress-b li.active.plan-active span.title {
    font-size: 2em;
    font-weight: bold;
    color: $secondary-color;
}

.section-nav.simple-progress-b li.active.plan-active span.connector {
    background: $secondary-color none repeat scroll 0 0;
}

.section-nav.simple-progress-b li.active.find-active span.connector {
    background: #a5b638 none repeat scroll 0 0;
}

.section-nav.simple-progress-b li.active.find-active span.title {
    font-size: 2em;
    font-weight: bold;
    color: #a5b638;
}

.section-nav.simple-progress-b li.active.evaluate-active span.connector {
    background: #c87676 none repeat scroll 0 0;
}

.section-nav.simple-progress-b li.active.evaluate-active span.title {
    font-size: 2em;
    font-weight: bold;
    color: #c87676;
}

.section-nav.simple-progress-b li.active.use-active span.connector {
    background: #38b6b2 none repeat scroll 0 0;
}

.section-nav.simple-progress-b li.active.use-active span.title {
    font-size: 2em;
    font-weight: bold;
    color: #38b6b2;
}


.simple-progress-b .ng-scope.active {
    margin-top: -2px;
}

.section-nav.simple-progress-b li span.connector-line {
    bottom: 0.8em;
    height: 0.4em;
}

.section-nav.simple-progress-b li.final {
    margin-top: -12px;
}



@media only screen and (max-width:$screen-md) {

    .section-nav.simple-progress-b li.active.start-active span.connector::after {
        color: $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.start-active span.connector {
        background: $font-color-dark-bg none repeat scroll 0 0;
        border: 5px solid $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.plan-active span.connector::after {
        color: $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.plan-active span.connector {
        background: $font-color-dark-bg none repeat scroll 0 0;
        border: 5px solid $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.find-active span.connector::after {
        color: $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.find-active span.connector {
        background: $font-color-dark-bg none repeat scroll 0 0;
        border: 5px solid $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.evaluate-active span.connector::after {
        color: $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.evaluate-active span.connector {
        background: $font-color-dark-bg none repeat scroll 0 0;
        border: 5px solid $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.use-active span.connector::after {
        color: $primary-color;
    }
    
    .section-nav.simple-progress-b li.active.use-active span.connector {
        background: $font-color-dark-bg none repeat scroll 0 0;
        border: 5px solid $primary-color;
    }

    .section-nav.simple-progress-b li span.connector-line {
        bottom: 1.5em;
        height: 0.8em;
    }
    .section-nav.simple-progress-b li.final {
        margin-top: -3px;
    }
}


//** end tool5 progress bar
