<div class="modal-header">
    <div class="row nopadding">
        <div class="col-xs-1">
                <i class="fa {{iconCls}} fa-2x"></i>
        </div>
        <div class="col-xs-10">
            <label for="name" class="text-center control-label header">Partners Story</label>
        </div>
    </div>
    <i ng-click="cancel()" class="fa fa-times fa-1x btn-close"></i>		
</div>

<div class="modal-body">
    <div class="row spacer-top-2x spacer-bottom">
        <div class="col-xs-12">
             I was unhappy about him doing the course, but I wasn't sure why. When we eventually spoke about it I realised 
             I was worried we would grow apart. Knowing this helped us be more aware of 
             balancing time between his study and the family.
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row modal-buttons spacer-bottom">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-8 col-sm-4">
            <a ng-click="cancel()" class="btn btn-default btn-md btn-block">Ok</a>
        </div>
    </div>
</div>