
<div  class="container shadow">
    <div class="row spacer-top-3x">   
        <div class="col-md-12">
            <tool3-nav></tool3-nav>
        </div>
    </div>
    
    <div class="row spacer-top-4x">
        <div class="col-md-offset-1 col-md-10">
            <div class="q-head large tangerine">
                <span class="img-badge-right">
                    <img class="img-responsive img-rounded hidden-xs" src="../assets/images/family.jpg" ng-src="../assets/images/family.jpg" alt="student family photo">
                </span>
                <h2 class="text-center nopadding">Family Help</h2>
            </div>
        </div>
    </div>
    <div class="row spacer-xs-top-2x">
        <div class="col-md-6">
            <div class="quote-primary-image row">
                <div class="col-md-4 nopadding">
                    <img class="img-responsive img-rounded" alt="Student photo" ng-src="../assets/images/student1.jpg" src="../assets/images/student1.jpg">
                </div>
                <div class="col-md-8 nopadding">
                    <blockquote class="quote-primary">                                     
                        <i class="fa fa-quote-left fa-3x"></i><p class="">My partner looked after the food shopping so that was one thing I didn’t have to worry about</p>
                    </blockquote>
                    <div class="o-round"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="quote-secondary">
                <blockquote>                                     
                    <i class="fa fa-quote-left fa-3x"></i>
                    <p>The best way I could help was to make sure there was always food in the house. We were all much nicer when we were fed 
                    </p>
                    <p><em><strong>(Partner)</strong></em></p>
                </blockquote>
                <div class="o-round"></div>
            </div>
        </div>
    </div>

    <hr class="spacer-top-3x">
    
    <div class="row spacer-top-4x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large dark">
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-1">
                        <i class="fa fa-home fa-3x h-icon"></i>
                    </div>
                    <div class="col-md-9 col-lg-10">
                        <h2 class="text-center nopadding">How can My Family help me?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row spacer-top-4x">
        <div class="col-md-12">
            <div class="panel panel-odd flex-font">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-sm-1 nopadding">
                            <i class="fa fa-question fa-5x q-icon"></i>
                        </div>
                        <div class="col-xs-10 col-sm-11 nopadding">
                            <p class="highlight"><span class="first-word">Who</span> in your family might support you?<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-even flex-font">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-sm-1 nopadding">
                            <i class="fa fa-question fa-5x q-icon"></i>
                        </div>
                        <div class="col-xs-10 col-sm-11 nopadding">
                            <p class="highlight"><span class="first-word">What </span> is the pay back for them if they support you?<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-odd flex-font">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-sm-1 nopadding">
                            <i class="fa fa-question fa-5x q-icon"></i>
                        </div>
                        <div class="col-xs-10 col-sm-11 nopadding">
                            <p class="highlight"><span class="first-word">If</span> your partner supports you to study now, will you support them to study later?<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="spacer-top-3x">  
    
    <div class="row spacer-top-3x spacer-xs-bottom-3x">
        <div class="col-md-5">
             <a href="#hub/friends/support/" class="btn btn-info  btn-block" title="Back to My Friends Support" aria-label="">Back</a>
        </div>
        <div class="col-md-offset-3 col-md-4 spacer-xs-top-3x spacer-md-top-0">
            <a href="#hub/family/support" class="btn btn-default  btn-block" title="Family Support" aria-label="">Next</a>	
        </div>
    </div>
    
</div>