<div class="container shadow">

    <div class="row row spacer-top-3x">   
        <div class="col-md-12">
            <tool8-nav></tool8-nav>
        </div>
    </div>
        
    <div class="row spacer-top-3x">
        <div class="col-md-offset-2 col-md-8">
            <div class="q-head large light-blue" >
                <h2 class="text-center nopadding">Study Skills - Text 1</h2>
            </div>
        </div>
    </div>

    <ng-include src="'app/views/partials/widgets/studySkillsSectionNav.html'"></ng-include>
    
    <div class="row spacer-top">
         <div class="col-xs-12">
            <h2 class="text-center nopadding">From Programme Team</h2>
         </div>
     </div>
    
    <div class="row spacer-top">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 col-md-1 text-center nopadding">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-11">
                            <h2 class="spacer-top">
                                Most important in an orientation is to focus on key points such that students recognise these as things they need to know about when they meet those points again in the days, weeks and months
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
   
                        </div>
                        <div class="col-xs-11">
                            <div class="row spacer-top">
                                <div class="col-md-8">
                                    <h4 class="ft-size-1_2x">An example of one key point:</h4>
                                    <p >
                                        Keep an <strong>organised set of notes</strong>. Keep organised folders or notepads, or files on your computer for the 
                                        modules you are taking, for as long as you are here and beyond. Of course this implies that you should
                                        be taking notes. This is very important. When you are reading materials or in tutorials you should be 
                                        taking your own notes, otherwise you run the risk of coming back to handouts or learning materials and 
                                        not remembering what they meant. If you are reading something you shouldn’t just read it and assume that
                                        you have now absorbed that material, because you may come back later and find that you have to re-read it 
                                        again, you should take notes about what you are reading and keep those organised. This will save you a lot 
                                        of time later on when you need to revise. 
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <img src="../assets/images/tool8/folders.jpg" title="Graduating Students" class="img-responsive img-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    


    <div class="row spacer-top-3x">                
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" aria-label="" title="Back to Study Skills Video 2" href="#/elements-of-an-online-orientation/study-skills/video2">Back</a>
        </div>
        <div class="col-md-offset-4 col-md-4 spacer-xs-top spacer-md-top-0">
            <a class="btn btn-default btn-lg btn-block" aria-label="" title="Study Skills Text 2" href="#/elements-of-an-online-orientation/study-skills/text2/">Next</a> 
        </div>
    </div>   
    <div class="row spacer-bottom-4x"></div>
</div>